.error-01 h1, p{
  text-align: center;
}

.error-01 h1{
  padding: 0;
  font-size: 24px;
  letter-spacing: 2px;
}

.error-02 article{
  height: 250px;
}

.error-02 section{
  margin: 2rem
}

h3{
  padding: 1rem 0 0 2rem;
}

ul{
  padding: 1rem 0 2rem 5rem;
}

#search404 section{
  margin: 2rem;
}

@media screen and (min-width: 600px) {

  .error-02 {
    display: flex;
    justify-content: space-between;
  }

  .error-02 article{
    width: 48%;
  }


}

@media screen and (min-width: 1025px) {

  p{
    padding-top: 3rem;
  }

  .error-02 {
    justify-content: space-around;
  }

  .error-02 article{
    width: 38%;
  }

}
