article{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	position: relative;
}

h1{
	letter-spacing: normal;
	text-align: center;
	opacity:0;
	margin: 2rem 0;
	animation: whats 1s forwards;
	font-size: 24px;
}
@keyframes whats {
	0%{
		opacity:0;
		transform: translateY(50px);
	}
	100%{
		opacity:1;
		transform: translateY(0%);
	}
}

p{
	text-align: center;
}

h2{
	margin: 2rem;
}

.about01 .ribbon01{
	border-left: 80px solid #333;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}
.about01 .ribbon02{
	border-right: 80px solid #333;
	border-top: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	bottom: 0;
	right: 0;
}

#main-image{
	width: 150%;
	height: auto;
	z-index: -1;
}

.ribbon-blue{
	border-left: 80px solid #4c4cff;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

.ribbon-gold{
	border-left: 80px solid #d7c447;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

#piano01{
	padding-top: 1rem;
	stroke: #4c4cff;
}
#piano01 g{
	fill: #4c4cff;
}

.show01{
	animation: basic-01 1s forwards;
}
.show02{
	animation: basic-01 1s forwards .5s;
}
.show03{
	animation: basic-01 1s forwards 1s;
}
.show04{
	animation: basic-01 1s forwards 1.5s;
}
.show05{
	animation: basic-01 1s forwards 2s;
}
.show06{
	animation: basic-01 1s forwards 2.5s;
}
.show07{
	animation: basic-01 1s forwards 3s;
}
.show08{
	animation: basic-01 1s forwards 3.5s;
}
@keyframes basic-01 {
	0%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-in;
	}
	50%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-out;
	}
	100%{
		fill: #fff;
		background: #fff;
	}
}

audio{
	margin: 0;
}

#trumpet01{
	width: 200%;
	padding-top: 1rem;
	stroke: #d7c447;
	position: absolute;
	right: -50px;
}
#trumpet01 g{
	fill: #d7c447;
}

#profile{
	width: 120%;
	height: auto;
	opacity: .7;
}

.myname-ribbon{
	border-left: 80px solid #ffbc7a;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

.request-ribbon{
	border-left: 80px solid #333;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

.request section{
	width: 90%;
	margin: 1rem auto 1rem;
}

.request iframe{
	width: 90%;
	height: 400px;
}

@media screen and (min-width: 600px) {

	#main-image{
			width: 200%;
			height: auto;
	}

	.about02{
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}

	.about02 article{
		width: 48%;
		margin: 1rem 0;
	}

	.about-final{
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}

	.about-final article{
		width: 48%;
		margin: 1rem 0 3rem;
	}

	.request iframe{
		height: 500px;
	}

}

@media screen and (min-width: 1025px) {

	article{
		height: 600px;
	}

	#main-image{
		width: 120%;
		height: auto;
	}

	.about02 article{
		height: 450px;
	}

	.request iframe{
		height: 600px;
	}

}
