article{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 500px;
}

h1{
	letter-spacing: normal;
	text-align: center;
	opacity:0;
	margin: 2rem 0;
	animation: whats 1s forwards;
	font-size: 24px;
}
@keyframes whats {
	0%{
		opacity:0;
		transform: translateY(50px);
	}
	100%{
		opacity:1;
		transform: translateY(0%);
	}
}

p{
	text-align: center;
}

h2{
	margin: 2rem;
}

.svg-blue{
	padding-top: 1rem;
	stroke: #4c4cff;
}
.fill-blue{
	fill: #4c4cff;
}

.show01{
	animation: basic-01 1s forwards;
}
.show02{
	animation: basic-01 1s forwards .5s;
}
.show03{
	animation: basic-01 1s forwards 1s;
}
.show04{
	animation: basic-01 1s forwards 1.5s;
}
.show05{
	animation: basic-01 1s forwards 2s;
}
.show06{
	animation: basic-01 1s forwards 2.5s;
}
.show07{
	animation: basic-01 1s forwards 3s;
}
.show08{
	animation: basic-01 1s forwards 3.5s;
}

@keyframes basic-01 {
	0%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-in;
	}
	50%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-out;
	}
	100%{
		fill: #fff;
		background: #fff;
	}
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1025px) {

}
