.color-blue{
	color: #4c4cff;
}
.color-blue b{
	color: #4c4cff;
}
.color-blue a{
	color: #4c4cff;
}

.glass{
	margin: 2rem auto;
}

svg{
	stroke: #4c4cff;
}
svg g path{
	fill: #4c4cff;
}

#basic001{
	text-align: right;
}

#basic002{
	background: #4c4cff;
	margin-left: 1rem;
	padding: .5rem 0 .5rem 0;
	width: 70%;
	border-radius: 10px;
	box-shadow: 4px 4px 20px rgba(0,0,0,.2);
	position: relative;
	top: -50px;
}
#basic002 p{
	color: #ffffff;
	margin: 1rem;
}

.show01{
	animation: basic-01 1s forwards;
}
.show02{
	animation: basic-01 1s forwards .5s;
}
.show03{
	animation: basic-01 1s forwards 1s;
}
.show04{
	animation: basic-01 1s forwards 1.5s;
}
.show05{
	animation: basic-01 1s forwards 2s;
}
.show06{
	animation: basic-01 1s forwards 2.5s;
}
.show07{
	animation: basic-01 1s forwards 3s;
}
.show08{
	animation: basic-01 1s forwards 3.5s;
}
@keyframes basic-01 {
	0%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-in;
	}
	50%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-out;
	}
	100%{
		fill: none;
		background: none;
	}
}

.whole-tone{
	transition: all 1s ease-out;
	color: #bc7aff;
	font-weight: bold;
}
.whole-click{
	transition: all 1s ease-in;
	background: rgba(188,122,255,.8);
	color: #fff;
	font-weight: bold;
}
.whole-fill{
	transition: all 1s ease-in;
	stroke: rgba(33, 33, 33, .3);
	fill: rgba(188,122,255,.8);
}
.whole-fill02{
	transition: all 1s ease-in;
	stroke: rgba(33, 33, 33, .3);
	fill: #444;
}

.semi-tone{
	transition: all 1s ease-out;
	color: #7abcff;
	font-weight: bold;
}
.semi-click{
	transition: all 1s ease-in;
	background: #7abcff;
	color: #fff;
	font-weight: bold;
}
.semi-fill{
	transition: all 1s ease-in;
	stroke: rgba(33, 33, 33, .3);
	fill: #7abcff;
}

.whole-semi{
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.whole-semi p{
	font-size: 85%;
	padding: 3px 15px;
	border: 1px solid #999;
	border-radius: 6px;
	font-weight: normal;
	transition: 1s ease-out;
}

#tone-table{
	width: 70%;
}

#shape01{
	background: #4c4cff;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	left: 10%;
	top: 30px;
	z-index: -10;
}

#shape02{
	border: 5px solid #4c4cff;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	position: absolute;
	top: 200px;
	right: 10%;
	z-index: -10;
}

#shape03{
	background: #4c4cff;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	position: absolute;
	left: 20%;
	top: 300px;
	z-index: 10;
}

#shape04{
	background: #4c4cff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	position: absolute;
	left: 80%;
	top: 300px;
	z-index: 10;
}

#shape05{
	border: 5px solid #4c4cff;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	opacity: .5;
	position: absolute;
	left: 20%;
	z-index: -10;
}

#shape06 {
	background: #4c4cff;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	opacity: .7;
	position: absolute;
	right: 60%;
	z-index: -10;
}

#shape07{
	background: #4c4cff;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	position: absolute;
	left: 40%;
	z-index: 10;
}

#shape08{
	background: #4c4cff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	position: absolute;
	left: 50%;
	top: 300px;
	z-index: 10;
}

#shape09{
	background: #4c4cff;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	position: absolute;
	right: 10%;
	z-index: -10;
}

#shape10{
	background: #4c4cff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	position: absolute;
	left: 20%;
	z-index: 10;
}

#shape11{
	border: 5px solid #4c4cff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	position: absolute;
	right: 30%;
	z-index: -10;
}

#shape12{
	border: 5px solid #4c4cff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	position: absolute;
	right: 30%;
	z-index: 10;
}

#shape13{
	background: #4c4cff;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	position: absolute;
	right: 60%;
	z-index: 10;
}

#shape14{
	border: 5px solid #4c4cff;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	position: absolute;
	right: 80%;
	z-index: 5;
}

@media screen and (min-width: 600px) {

	h1{
		font-size: 34px;
	}

	.glass{
		margin: 4rem auto;
	}

	#basic001{
		width: 90%;
		position: absolute;
		top: 50px;
		right: 0;
	}

	#basic002{
		width: 50%;
		margin-top: 300px;
	}

	h3{
		padding-left: 3rem;
	}

	#shape05{
		z-index: 3;
		mix-blend-mode: multiply;
	}

}

@media screen and (min-width: 1025px) {

	section{
		width: 90%;
	}

	h3{
		padding-left: 2rem;
	}

	#basic001{
		margin-right: 15%;
	}

	#basic001{
		width: 60%;
	}

	#basic002{
		width: 45%;
		position: relative;
		top: 170px;
		left: 70px;
		margin: 0 0 250px 4rem;
	}

}
