#basic001{
	position: relative;
	top: -3rem;
	left: 1rem;
}

#basic002{
	position: relative;
	top: -10rem;
	left: 15rem;
}

#basic003{
	text-align: right;
	position: relative;
	top: -15rem
}

#basic004{
	margin-left: 1rem;
	padding: .5rem 0 .5rem 0;
	width: 70%;
	position: relative;
	top: -20rem;
}

#basic005{
	position: relative;
	top: -10rem;
}

.show01{
	animation: basic-01 1s forwards;
}
.show02{
	animation: basic-01 1s forwards .5s;
}
.show03{
	animation: basic-01 1s forwards 1s;
}
.show04{
	animation: basic-01 1s forwards 1.5s;
}
.show05{
	animation: basic-01 1s forwards 2s;
}
.show06{
	animation: basic-01 1s forwards 2.5s;
}
.show07{
	animation: basic-01 1s forwards 3s;
}
.show08{
	animation: basic-01 1s forwards 3.5s;
}

@keyframes basic-01 {
  0%{
    fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-in;
  }
	50%{
		fill: #ffff7f;
		background: #ffff7f;
		animation-timing-function: ease-out;
	}
  100%{
		fill: #fff;
		background: #fff;
  }
}

.contents-table{
	position: relative;
	top: -2.5rem;
	z-index: 1;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1025px) {

}
