#basic001{

}

#basic002{

}

#basic003{
	text-align: right;
}

#basic004{
	margin-left: 1rem;
	padding: .5rem 0 .5rem 0;
	width: 70%;
	position: relative;
	top: -4rem;
}

#basic005{
	position: relative;
	z-index: 667;
}

.basic-c01.show01{
	animation: basic-01 1s forwards;
}

.basic-d01.show02{
	animation: basic-01 1s forwards .5s;

}

.basic-e01.show03{
	animation: basic-01 1s forwards 1s;
}


.basic-f01.show04{
	animation: basic-01 1s forwards 1.5s;
}

.basic-g01.show05{
	animation: basic-01 1s forwards 2s;
}

.basic-a01.show06{
	animation: basic-01 1s forwards 2.5s;
}

.basic-b01.show07{
	animation: basic-01 1s forwards 3s;
}

@keyframes basic-01{
  0%{
    fill: #ffff7f;
  }
  90% {
    fill: none;
    animation-timing-function: ease-in;
  }
	100% {
    fill: none;
  }
}

.contents-table{
	position: relative;
	top: -2.5rem;
	z-index: 1;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1025px) {

}
