article{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  position: relative;
}

.color-style{
  color: #ff5656;
}
.color-style b{
  color: #ff5656;
}
.color-style a{
  color: #ff5656;
}

.contents-table{
  margin-top: 200px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;
}

#top002{
  background: #ff5656;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
  position: relative;
  top: -50px;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

.drums{
  width: 60%;
  height: auto;
}
.drums{
  stroke: #333;
  stroke-miterlimit:10;
}
.st1{
  fill: #eee;
}
.st3{
  fill: #ff3d3d;
}
.st4{
  fill: #ccc;
}
.st5{
  fill: #222;
}
.bass-type01{
  stroke: none;
  fill: #eee;
}
.drums-back{
  stroke: #333;
  fill: #eee;
}
.drums-back .st1{
  fill: #333;
}

.hat .st3, .clash .st3, .ride{
  fill: #ffff33;
}


#clash01-l{
  animation: clash01-l .5s forwards;
}
@keyframes clash01-l {
  0%{
    transform: scaleY(1.3);
  }
  100%{
    transform: scaleY(1);
  }
}

#clash01-r{
  animation: clash01-r .5s forwards;
}
@keyframes clash01-r {
  0%{
    transform: scaleY(1.3);
  }
  100%{
    transform: scaleY(1);
  }
}

#bass01{
  animation: bass01 .5s forwards;
}
@keyframes bass01 {
  0%{
    transform: scale(1.1) translate(-5%, -5%);
  }
  100%{
    transform: scale(1) translate(0);
  }
}

#snare01{
  animation: snare01 .5s forwards;
}
@keyframes snare01 {
  0%{
    transform: scaleY(.9) translateY(10%);
  }
  100%{
    transform: scaleY(1) translateY(0);
  }
}

#hi01-tam{
  animation: hi01-tam .5s forwards;
}
@keyframes hi01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  100%{
    transform: scaleY(1) translateY(0);
  }
}

#mid01-tam{
  animation: mid01-tam .5s forwards;
}
@keyframes mid01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  100%{
    transform: scaleY(1) translateY(0);
  }
}

#low01-tam{
  animation: low01-tam .5s forwards;
}
@keyframes low01-tam {
  0%{
    transform: scaleY(.9) translateY(10%);
  }
  100%{
    transform: scaleY(1) translateY(0);
  }
}

#ride01{
  animation: ride01 .5s forwards;
}
@keyframes ride01 {
  0%{
    transform: scaleY(1.05) translateX(-.5%);
  }
  100%{
    transform: scaleY(1) translateX(0);
  }
}

#hat01-top{
  animation: hat01-top .5s forwards;
}
@keyframes hat01-top {
  0%{
    transform: scaleY(1.05) translateX(1%) translateY(0);
  }
  5%{
    transform: translateX(-.5%) translateY(0);
  }
  100%{
    transform: scaleY(1) translateY(0);
  }
}

@media screen and (min-width: 600px) {

}
@media screen and (min-width: 1025px) {

}
