article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: #ff5656;
}
.color-style b{
  color: #ff5656;
}
.color-style a{
  color: #ff5656;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;
}

#top002{
  background: #ff5656;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
  position: relative;
  top: -50px;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

.drums{
  width: 96%;
  height: auto;
  stroke: #333;
  stroke-miterlimit:10;
}
.st1{
  fill: #eee;
}
.st3{
  fill: #ff5656;
}
.st4{
  fill: #ccc;
}
.st5{
  fill: #222;
}
.bass-type01{
  stroke: none;
  fill: #eee;
}
.drums-back{
  stroke: #333;
  fill: #eee;
}
.drums-back .st1{
  fill: #333;
}

.hat .st3, .clash .st3, .ride{
  fill: #ffff33;
}
#clash01-l{
  animation: clash01-l 5s 2;
}
@keyframes clash01-l {
  0%{
    transform: scaleY(1.3);
  }
  25%{
    transform: scaleY(1);
  }
}

#clash01-r{
  animation: clash01-r 10s 1;
}
@keyframes clash01-r {
  0%{
    transform: scaleY(1.3);
  }
  12.5%{
    transform: scaleY(1);
  }
}

#bass01{
  animation: bass01 .5s 10;
}
@keyframes bass01 {
  0%{
    transform: scale(1.1) translate(-5%, -5%);
  }
  100%{
    transform: scale(1) translate(0);
  }
}

#snare01{
  animation: snare01 1s 5;
}
@keyframes snare01 {
  0%{
    transform: scaleY(.9) translateY(10%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#hi01-tam{
  animation: hi01-tam 5s 2;
}
@keyframes hi01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#mid01-tam{
  animation: mid01-tam 10s 1;
}
@keyframes mid01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  12.5%{
    transform: scaleY(1) translateY(0);
  }
}

#ride01{
  animation: ride01 .5s 10;
}
@keyframes ride01 {
  0%{
    transform: scaleY(1.05) translateX(-.5%);
  }
  100%{
    transform: scaleY(1) translateX(0);
  }
}

#drums02{
  margin: 0 auto;
  width: 100%;
}

#bottom01{
  display: flex;
  justify-content: space-around;
}
#bottom01 p{
  width: 3rem;
  text-align: center;
  font-size: 85%;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: normal;
  background-color: #eee;
  border-bottom: 5px solid #ccc;
  transition: 1s ease-out;
}

#low02-shell.pop01{fill: #7abcff;}
#mid02-shell.pop01{fill: #7abcff;}
#hi02-shell.pop01{fill: #7abcff;}
#snare02-shell.pop01{fill: #7abcff;}

#low02-shell.jazz01{fill: #ffaf1a;}
#mid02-shell.jazz01{fill: #ffaf1a;}
#hi02-shell.jazz01{fill: #ffaf1a;}
#snare02-shell.jazz01{fill: #ffaf1a;}

#low02-shell.metal01{fill: #ff5656;}
#mid02-shell.metal01{fill: #ff5656;}
#hi02-shell.metal01{fill: #ff5656;}
#snare02-shell.metal01{fill: #ff5656;}


#audio01, #audio02, #audio03{
  display: none;
}
#audio01.click, #audio02.click, #audio03.click{
  display: block;
}
#pop01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #7abcff;
}
#jazz01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #ffaf1a;
}
#metal01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #ff5656;
}

#snare02.audio01{
  animation: snare02audio01 12s forwards;
}
@keyframes snare02audio01 {
  0%{transform: scaleY(1) translateY(0);}

  4%{transform: scaleY(1) translateY(0);}
  4.5%{transform: scaleY(.9) translateY(10%);}
  5%{transform: scaleY(1) translateY(0);}

  10.5%{transform: scaleY(1) translateY(0);}
  11%{transform: scaleY(.9) translateY(10%);}
  12%{transform: scaleY(1) translateY(0);}

  17%{transform: scaleY(1) translateY(0);}
  17.5%{transform: scaleY(.9) translateY(10%);}
  18.5%{transform: scaleY(1) translateY(0);}

  23.8%{transform: scaleY(1) translateY(0);}
  24.3%{transform: scaleY(.9) translateY(10%);}
  25.3%{transform: scaleY(1) translateY(0);}

  30.3%{transform: scaleY(1) translateY(0);}
  30.8%{transform: scaleY(.9) translateY(10%);}
  31.8%{transform: scaleY(1) translateY(0);}

  37.1%{transform: scaleY(1) translateY(0);}
  37.6%{transform: scaleY(.9) translateY(10%);}
  38.6%{transform: scaleY(1) translateY(0);}

  43.6%{transform: scaleY(1) translateY(0);}
  44.1%{transform: scaleY(.9) translateY(10%);}
  44.6%{transform: scaleY(1) translateY(0);}

  49.8%{transform: scaleY(1) translateY(0);}
  50.3%{transform: scaleY(.9) translateY(10%);}
  53.3%{transform: scaleY(.9) translateY(10%);}
  53.8%{transform: scaleY(1) translateY(0);}
}

#snare02-shell.audio01{
  animation: snare02-shellaudio01 12s forwards;
}
@keyframes snare02-shellaudio01 {

  0%{fill: #7abcff;}

  4%{fill: #7abcff;}
  4.5%{fill: #ffff7f;}
  5%{fill: #7abcff;}

  10.5%{fill: #7abcff;}
  11%{fill: #ffff7f;}
  12%{fill: #7abcff;}

  17%{fill: #7abcff;}
  17.5%{fill: #ffff7f;}
  18.5%{fill: #7abcff;}

  23.8%{fill: #7abcff;}
  24.3%{fill: #ffff7f;}
  25.3%{fill: #7abcff;}

  30.3%{fill: #7abcff;}
  30.8%{fill: #ffff7f;}
  31.8%{fill: #7abcff;}

  37.1%{fill: #7abcff;}
  37.6%{fill: #ffff7f;}
  38.6%{fill: #7abcff;}

  43.6%{fill: #7abcff;}
  44.1%{fill: #ffff7f;}
  44.6%{fill: #7abcff;}

  49.8%{fill: #7abcff;}
  50.3%{fill: #ffff7f;}
  53.3%{fill: #ffff7f;}
  53.8%{fill: #7abcff;}
}

@media screen and (min-width: 600px) {

  .drums{
    width: 80%;
    height: auto;
  }

  h1{
    font-size: 34px;
  }

  h3{
    padding-left: 3rem;
  }

}
@media screen and (min-width: 1025px) {

  .drums{
    width: 76%;
    height: auto;
  }

  section{
    width: 90%;
  }

  h3{
    padding-left: 2rem;
  }

}
