article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: #ff5656;
}
.color-style b{
  color: #ff5656;
}
.color-style a{
  color: #ff5656;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;
}

#top002{
  background: #ff5656;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
  position: relative;
  top: -50px;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

.drums{
  width: 96%;
  height: auto;
  stroke: #333;
  stroke-miterlimit:10;
}
.st1{
  fill: #eee;
}
.st3{
  fill: #ff5656;
}
.st4{
  fill: #ccc;
}
.st5{
  fill: #222;
}
.bass-type01{
  stroke: none;
  fill: #eee;
}
.drums-back{
  stroke: #333;
  fill: #eee;
}
.drums-back .st1{
  fill: #333;
}

.hat .st3, .clash .st3, .ride{
  fill: #ffff33;
}
#clash01-l{
  animation: clash01-l 5s 2;
}
@keyframes clash01-l {
  0%{
    transform: scaleY(1.3);
  }
  25%{
    transform: scaleY(1);
  }
}

#clash01-r{
  animation: clash01-r 10s 1;
}
@keyframes clash01-r {
  0%{
    transform: scaleY(1.3);
  }
  12.5%{
    transform: scaleY(1);
  }
}

#bass01{
  animation: bass01 .5s 10;
}
@keyframes bass01 {
  0%{
    transform: scale(1.1) translate(-5%, -5%);
  }
  100%{
    transform: scale(1) translate(0);
  }
}

#snare01{
  animation: snare01 1s 5;
}
@keyframes snare01 {
  0%{
    transform: scaleY(.9) translateY(10%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#hi01-tam{
  animation: hi01-tam 5s 2;
}
@keyframes hi01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#mid01-tam{
  animation: mid01-tam 10s 1;
}
@keyframes mid01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  12.5%{
    transform: scaleY(1) translateY(0);
  }
}

#ride01{
  animation: ride01 .5s 10;
}
@keyframes ride01 {
  0%{
    transform: scaleY(1.05) translateX(-.5%);
  }
  100%{
    transform: scaleY(1) translateX(0);
  }
}

#audio01,#audio02,#audio03{
  display: none;
}

#drums02{
  margin: 0 auto;
  width: 100%;
}

.bottom{
  display: flex;
  justify-content: space-around;
}
.bottom p{
  width: 5rem;
  text-align: center;
  font-size: 85%;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: normal;
  background-color: #eee;
  border-bottom: 5px solid #ccc;
  transition: 1s ease-out;
}

#low02-shell.pop01{fill: #7abcff;}
#mid02-shell.pop01{fill: #7abcff;}
#hi02-shell.pop01{fill: #7abcff;}
#snare02-shell.pop01{fill: #7abcff;}

#low02-shell.jazz01{fill: #ffaf1a;}
#mid02-shell.jazz01{fill: #ffaf1a;}
#hi02-shell.jazz01{fill: #ffaf1a;}
#snare02-shell.jazz01{fill: #ffaf1a;}

#low02-shell.metal01{fill:#dc143c;}
#mid02-shell.metal01{fill:#dc143c;}
#hi02-shell.metal01{fill:#dc143c;}
#snare02-shell.metal01{fill:#dc143c;}

#pop01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #7abcff;
}
#jazz01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #ffaf1a;
}
#metal01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #dc143c;
}

#snare02.audio01{
  animation: snare02audio01 12s forwards;
}
@keyframes snare02audio01 {
  0%{transform: scaleY(1) translateY(0);}

  4%{transform: scaleY(1) translateY(0);}
  4.5%{transform: scaleY(.9) translateY(10%);}
  5%{transform: scaleY(1) translateY(0);}

  10.5%{transform: scaleY(1) translateY(0);}
  11%{transform: scaleY(.9) translateY(10%);}
  12%{transform: scaleY(1) translateY(0);}

  17%{transform: scaleY(1) translateY(0);}
  17.5%{transform: scaleY(.9) translateY(10%);}
  18.5%{transform: scaleY(1) translateY(0);}

  23.8%{transform: scaleY(1) translateY(0);}
  24.3%{transform: scaleY(.9) translateY(10%);}
  25.3%{transform: scaleY(1) translateY(0);}

  30.3%{transform: scaleY(1) translateY(0);}
  30.8%{transform: scaleY(.9) translateY(10%);}
  31.8%{transform: scaleY(1) translateY(0);}

  37.1%{transform: scaleY(1) translateY(0);}
  37.6%{transform: scaleY(.9) translateY(10%);}
  38.6%{transform: scaleY(1) translateY(0);}

  43.6%{transform: scaleY(1) translateY(0);}
  44.1%{transform: scaleY(.9) translateY(10%);}
  44.6%{transform: scaleY(1) translateY(0);}

  49.8%{transform: scaleY(1) translateY(0);}
  50.3%{transform: scaleY(.9) translateY(10%);}
  53.3%{transform: scaleY(.9) translateY(10%);}
  53.8%{transform: scaleY(1) translateY(0);}
}

#snare02-shell.audio01{
  animation: snare02-shellaudio01 12s forwards;
}
@keyframes snare02-shellaudio01 {

  0%{fill: #7abcff;}

  4%{fill: #7abcff;}
  4.5%{fill: #ffffe6;}
  5%{fill: #7abcff;}

  10.5%{fill: #7abcff;}
  11%{fill: #ffffe6;}
  12%{fill: #7abcff;}

  17%{fill: #7abcff;}
  17.5%{fill: #ffffe6;}
  18.5%{fill: #7abcff;}

  23.8%{fill: #7abcff;}
  24.3%{fill: #ffffe6;}
  25.3%{fill: #7abcff;}

  30.3%{fill: #7abcff;}
  30.8%{fill: #ffffe6;}
  31.8%{fill: #7abcff;}

  37.1%{fill: #7abcff;}
  37.6%{fill: #ffffe6;}
  38.6%{fill: #7abcff;}

  43.6%{fill: #7abcff;}
  44.1%{fill: #ffffe6;}
  44.6%{fill: #7abcff;}

  49.8%{fill: #7abcff;}
  50.3%{fill: #ffffe6;}
  53.3%{fill: #ffffe6;}
  53.8%{fill: #7abcff;}
}

#bass02.audio01{
  animation: bass02audio01 12s forwards;
}
@keyframes bass02audio01 {
  0%{transform: scale(1.1) translate(-5%, -5%);}
  2%{transform: scale(1) translate(0,0);}

  5.8%{transform: scale(1) translate(0,0);}
  6.3%{transform: scale(1.1) translate(-5%, -5%);}
  8.3%{transform: scale(1) translate(0,0);}

  13.5%{transform: scale(1) translate(0,0);}
  14%{transform: scale(1.1) translate(-5%, -5%);}
  15%{transform: scale(1) translate(0,0);}

  20%{transform: scale(1) translate(0,0);}
  20.5%{transform: scale(1.1) translate(-5%, -5%);}
  21.5%{transform: scale(1) translate(0,0);}

  25%{transform: scale(1) translate(0,0);}
  25.5%{transform: scale(1.1) translate(-5%, -5%);}
  26.5%{transform: scale(1) translate(0,0);}
  27%{transform: scale(1.1) translate(-5%, -5%);}
  28%{transform: scale(1) translate(0,0);}

  34%{transform: scale(1) translate(0,0);}
  34.5%{transform: scale(1.1) translate(-5%, -5%);}
  35.5%{transform: scale(1) translate(0,0);}

  40.5%{transform: scale(1) translate(0,0);}
  41%{transform: scale(1.1) translate(-5%, -5%);}
  42%{transform: scale(1) translate(0,0);}

  47%{transform: scale(1) translate(0,0);}
  47.5%{transform: scale(1.1) translate(-5%, -5%);}
  48.5%{transform: scale(1) translate(0,0);}
  49%{transform: scale(1) translate(0,0);}
  49.5%{transform: scale(1.1) translate(-5%, -5%);}
  50.5%{transform: scale(1) translate(0,0);}
}


#bass02-shell.audio01{
  animation:bass02-shellaudio01 12s forwards;
}
@keyframes bass02-shellaudio01 {
  0%{fill: #ffffe6;}
  2%{fill: #222;}

  5.8%{fill: #222;}
  6.3%{fill: #ffffe6;}
  8.3%{fill: #222;}

  13.5%{fill: #222;}
  14%{fill: #ffffe6;}
  15%{fill: #222;}

  20%{fill: #222;}
  20.5%{fill: #ffffe6;}
  21.5%{fill: #222;}

  25%{fill: #222;}
  25.5%{fill: #ffffe6;}
  26.5%{fill: #222;}
  27%{fill: #ffffe6;}
  28%{fill: #222;}

  34%{fill: #222;}
  34.5%{fill: #ffffe6;}
  35.5%{fill: #222;}

  40.5%{fill: #222;}
  41%{fill: #ffffe6;}
  42%{fill: #222;}

  47%{fill: #222;}
  47.5%{fill: #ffffe6;}
  48.5%{fill: #222;}
  49%{fill: #222;}
  49.5%{fill: #ffffe6;}
  50.5%{fill: #222;}
}

#clash02-l.audio01{
  animation:clash02-laudio01 16s forwards;
}
@keyframes clash02-laudio01 {
  0%{
    fill: #ffffe6;
    transform: scaleY(1.4);
  }
  20%{
    fill: #ffff33;
    transform: scaleY(1);
  }

  39.5%{
    fill: #ffff33;
    transform: scaleY(1);
  }
  40%{
    fill: #ffffe6;
    transform: scaleY(1.4);
  }
  60%{
    fill: #ffff33;
    transform: scaleY(1);
  }
}

#hat02-top.audio01{
  animation: hat02-topaudio01 8s forwards;
}
@keyframes hat02-topaudio01 {
  0%{fill: #ffffe6; transform: scale(1.1) translate(-5%, -5%);}
  2%{fill: #ffffe6; transform: scale(1) translate(0,0);}
  80%{fill: #ffffe6;}
}

#bass02.audio02{
  animation: bass02audio02 7s forwards;
}
@keyframes bass02audio02 {
  0%{transform: scale(1.1) translate(-5%, -5%);}
  2%{transform: scale(1) translate(0,0);}

  3.5%{transform: scale(1) translate(0,0);}
  4%{transform: scale(1.1) translate(-5%, -5%);}
  6%{transform: scale(1) translate(0,0);}

  12.5%{transform: scale(1) translate(0,0);}
  13%{transform: scale(1.1) translate(-5%, -5%);}
  14%{transform: scale(1) translate(0,0);}

  17.5%{transform: scale(1) translate(0,0);}
  18%{transform: scale(1.1) translate(-5%, -5%);}
  20%{transform: scale(1) translate(0,0);}

  30.5%{transform: scale(1) translate(0,0);}
  31%{transform: scale(1.1) translate(-5%, -5%);}
  32%{transform: scale(1) translate(0,0);}

  35.5%{transform: scale(1) translate(0,0);}
  36%{transform: scale(1.1) translate(-5%, -5%);}
  38%{transform: scale(1) translate(0,0);}

  45.5%{transform: scale(1) translate(0,0);}
  46%{transform: scale(1.1) translate(-5%, -5%);}
  48%{transform: scale(1) translate(0,0);}

  50.5%{transform: scale(1) translate(0,0);}
  51%{transform: scale(1.1) translate(-5%, -5%);}
  53%{transform: scale(1) translate(0,0);}

  62.5%{transform: scale(1) translate(0,0);}
  63%{transform: scale(1.1) translate(-5%, -5%);}
  65%{transform: scale(1) translate(0,0);}
}

#bass02-shell.audio02{
  animation: bass02-shellaudio02 7s forwards;
}
@keyframes bass02-shellaudio02 {
  0%{fill: #ffffe6;}
  2%{fill: #222;}

  3.5%{fill: #222;}
  4%{fill: #ffffe6;}
  6%{fill: #222;}

  12.5%{fill: #222;}
  13%{fill: #ffffe6;}
  14%{fill: #222;}

  17.5%{fill: #222;}
  18%{fill: #ffffe6;}
  20%{fill: #222;}

  30.5%{fill: #222;}
  31%{fill: #ffffe6;}
  32%{fill: #222;}

  35.5%{fill: #222;}
  36%{fill: #ffffe6;}
  38%{fill: #222;}

  45.5%{fill: #222;}
  46%{fill: #ffffe6;}
  48%{fill: #222;}

  50.5%{fill: #222;}
  51%{fill: #ffffe6;}
  53%{fill: #222;}

  62.5%{fill: #222;}
  63%{fill: #ffffe6;}
  65%{fill: #222;}
}

#snare02.audio02{
  animation: snare02audio02 7s forwards;
}
@keyframes snare02audio02 {
  11.5%{transform: scale(1) translate(0,0);}
  12%{transform: scaleY(.9) translateY(10%);}
  14%{transform: scale(1) translate(0,0);}

  26.5%{transform: scale(1) translate(0,0);}
  27%{transform: scaleY(.9) translateY(10%);}
  29%{transform: scale(1) translate(0,0);}

  43.5%{transform: scale(1) translate(0,0);}
  44%{transform: scaleY(.9) translateY(10%);}
  46%{transform: scale(1) translate(0,0);}

  58.5%{transform: scale(1) translate(0,0);}
  59%{transform: scaleY(.9) translateY(10%);}
  61%{transform: scale(1) translate(0,0);}
}

#snare02-shell.audio02{
  animation: snare02-shellaudio02 7s forwards;
}
@keyframes snare02-shellaudio02 {
  11.5%{fill: #ffaf1a;}
  12%{fill: #ffffe6;}
  14%{fill: #ffaf1a;}

  26.5%{fill: #ffaf1a;}
  27%{fill: #ffffe6;}
  29%{fill: #ffaf1a;}

  43.5%{fill: #ffaf1a;}
  44%{fill: #ffffe6;}
  46%{fill: #ffaf1a;}

  58.5%{fill: #ffaf1a;}
  59%{fill: #ffffe6;}
  61%{fill: #ffaf1a;}
}

#ride02.audio02{
  animation: ride02audio02 7s forwards;
}
@keyframes ride02audio02 {
  0%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  2%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  3.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  4%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  6%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  6.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  7%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  10%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  12%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  12.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  13%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  15%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  14.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  15%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  17%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  17.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  18%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  24%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  30%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  30.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  31%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  32%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  31.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  32%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  34%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  34.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  35%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  41%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  45%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  45.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  46%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  48%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  48.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  49%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  51%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  51.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  52%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  58%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  62%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  62.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  63%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  65%{fill: #ffff33;transform: scaleY(1) translateX(0);}
}

#drums03 .st0{fill:none;stroke:#000000;stroke-width:0.5;}
#drums03 .st1{fill:none;stroke:#000000;stroke-width:0.5;}
#drums03 .st2{fill:#FF5656;stroke:#000000;stroke-width:0.5;}
#drums03 .st3{fill:#CCCCCC;stroke:#000000;stroke-width:0.5;}
#drums03 .st4{fill:#EEEEEE;stroke:#000000;stroke-width:0.5;}
#drums03 .st5{fill:#4D4D4D;stroke:#000000;stroke-width:0.5;}
#drums03 .st6{fill:#333333;stroke:#000000;stroke-width:0.5;}
#drums03 .st7{fill:#CCCCCC;stroke:#000000;stroke-width:0.5;}
#drums03 .st8{fill:#FFFF33;stroke:#000000;stroke-width:0.5;}
#drums03 .st9{fill:#222222;stroke:#000000;stroke-width:0.5;}
#drums03 .st10{fill:none;stroke:#000000;stroke-width:0.5;}
#notes01 path,#notes01 polygon {fill: #333333;}
#drums-notes{opacity: 0;transition: 1s;}

#score01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #FF5656;
}

#drums-notes.click{
  transition: 1s;
  opacity: .8;
}

#double-stroke01 .st0{fill:#FF5656;stroke:#000000;stroke-miterlimit:10;}
#double-stroke01 .st1{fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;}
#double-stroke01 .st2{fill:#EEEEEE;stroke:#000000;stroke-miterlimit:10;}
#double-stroke01 .st3{fill:#FFD79F;stroke:#000000;stroke-miterlimit:10;}

#doublestroke01{width: 9rem;}
#doublestroke01.click{
  font-weight: bold;
  color: #fff;
  border: none;
  background: #FF5656;
}

#stick01.double{
  animation: stick01double 1s backwards;
}
@keyframes stick01double {
  0%{transform: scaleY(1.1)}
  10%{transform: scaleY(1.05)}
  20%{transform: scaleY(1.1)}
  30%{transform: scaleY(1.07)}
  40%{transform: scaleY(1.1)}
  50%{transform: scaleY(1.09)}
  60%{transform: scaleY(1.1)}
  70%{transform: scaleY(1.09)}
  80%{transform: scaleY(1.1)}
  100%{transform: scaleY(1.1)}
}

#audio04{
  display: none;
}

@media screen and (min-width: 600px) {

  .drums{
    width: 80%;
    height: auto;
  }

  h1{
    font-size: 34px;
  }

  h3{
    padding-left: 3rem;
  }

}
@media screen and (min-width: 1025px) {

  .drums{
    width: 76%;
    height: auto;
  }

  section{
    width: 90%;
  }

  h3{
    padding-left: 2rem;
  }

  .bottom p{
    width: 6rem;
  }

}
