#result li{
	padding-top: 10px;
}

#result a{
	font-weight: bold;
	letter-spacing: 3px;
}

@media screen and (min-width: 600px) {
	#result{
		margin: 0 auto;
		width: 60%;
	}


@media screen and (min-width: 1025px) {
	#result{
		width: 50%;
	}
}
	
