h2{
	text-aline: left;
}

#result{
	max-width: 300px;
	margin: 0 auto;
	padding-left: 0;
}

#result li{
	padding-top: 10px;
}

#result a{
	font-weight: bold;
	letter-spacing: 3px;
}

footer{
	margin-top: 2rem;
}
