.jump01{animation: jump01 6s ease infinite;}

@keyframes jump01 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

.jump02{animation: jump02 6s ease infinite;}

@keyframes jump02 {
  0% { transform:translateX(0) }
  5% { transform:translateX(0) }
  10% { transform:translateX(0) }
  20% { transform:translateX(-15px) }
  25% { transform:translateX(0) }
  30% { transform:translateX(-15px) }
  50% { transform:translateX(0) }
  100% { transform:translateX(0) }
}

.fuwafuwa01 {animation: 6s fuwafuwa01 infinite;}

@keyframes fuwafuwa01 {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-20px);}
}

.fuwafuwa02 {animation: 6s fuwafuwa02 infinite;}

@keyframes fuwafuwa02 {
  0%, 100% {transform: translateX(0);}
  50% {transform: translateX(-20px);}
}

.square-gray{
  width: 100px;
  height: 100px;
  border: .25px solid #333333;
}

.circle-gtay{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .5px solid #333333;
}

.square-blue{
  width: 100px;
  height: 100px;
	border-radius: 10px;
  border: .5px solid #4c4cff;
}

.circle-orange{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .5px solid #ffbc7a;
}

.square01-l-green{
  width: 100px;
  height: 100px;
  border: .5px solid #bcff7a;
  transform: rotate(45deg);
}

.svg-size{
  width: 78%;
  height: auto;
  fill: none;
}

.svg-gray{
  stroke: #333333;
  stroke-width: .5px;
  fill: none;
}

.fill-gray{
  fill: #333333;
}


@media screen and (min-width: 600px) {
  .size-svg{
    width: 28%;
  }
}

@media screen and (min-width: 1025px) {
  .size-svg{
    width: 58%;
  }
}
