.links-nav{

}

.links-nav :hover{

}

.square01-gray{
  width: 100px;
  height: 100px;
  border: .25px solid #333333;
}
.square02-gray{
  width: 100px;
  height: 100px;
  border: .25px solid #333333;
  position: relative;
  top: -40px;
  left: 60px;
}

.border-gray{
  border-bottom: 2px solid #333333;
}

.svg-size{
  width: 78%;
  height: auto;
  fill: none;
}

.svg-gray{
  stroke: #333333;
  stroke-width: .5px;
  fill: none;
}

.fill-gray{
  fill: #333333;
}

.color-blue{
  color: #4c4cff;
}

.block-blue{
  background: #4c4cff;
}

.block-blue p{
  color: #ffffff;
  margin: 1rem;
}

.square01-blue{
  width: 100px;
  height: 100px;
  border: .25px solid #4c4cff;
}
.square02-blue{
  width: 100px;
  height: 100px;
  border: .25px solid #4c4cff;
  position: relative;
  top: -40px;
  left: 60px;
}

.circle01-blue{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #4c4cff;
  position: relative;
  left: 60px;
  top: 40px
}
.circle02-blue{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #4c4cff;
}

.svg-blue{
  stroke: #4c4cff;
}

.fill-blue{
  fill: #4c4cff;
}

.fill-anim-blue{
  fill: #4c4cff;
  animation-name: fade-fill;
  animation-duration: 1s;
  animation-delay: .1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-fill {
  0% {opacity: 0}
  100% {opacity: 1}
}


@media screen and (min-width: 600px) {
  .size-svg{
    width: 28%;
  }
}

@media screen and (min-width: 1025px) {
  .size-svg{
    width: 58%;
  }
}
