.jump01{animation: jump01 6s ease infinite;}

@keyframes jump01 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

.jump02{animation: jump02 6s ease infinite;}

@keyframes jump02 {
  0% { transform:translateX(0) }
  5% { transform:translateX(0) }
  10% { transform:translateX(0) }
  20% { transform:translateX(-15px) }
  25% { transform:translateX(0) }
  30% { transform:translateX(-15px) }
  50% { transform:translateX(0) }
  100% { transform:translateX(0) }
}

.fuwafuwa01 {animation: 6s fuwafuwa01 infinite;}

@keyframes fuwafuwa01 {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-20px);}
}

.fuwafuwa02 {animation: 6s fuwafuwa02 infinite;}

@keyframes fuwafuwa02 {
  0%, 100% {transform: translateX(0);}
  50% {transform: translateX(-20px);}
}

.square01-glass{
  width: 100px;
  height: 100px;
  background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
}
.square02-glass{
  width: 100px;
  height: 100px;
  background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
  position: relative;
  top: -40px;
  left: 60px;
}

.circle01-glass{
  width: 100px;
  height: 100px;
  background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 50px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
  position: relative;
  left: 60px;
  top: 40px
}
.circle02-glass{
  width: 100px;
  height: 100px;
  background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 50px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
}

.square01-gray{
  width: 100px;
  height: 100px;
  border: .25px solid #333333;
}
.square02-gray{
  width: 100px;
  height: 100px;
  border: .25px solid #333333;
  position: relative;
  top: -40px;
  left: 60px;
}

.circle01-gtay{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #333333;
  position: relative;
  left: 60px;
  top: 40px
}
.circle02-gtay{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #333333;
}

.square01-blue{
  width: 100px;
  height: 100px;
  border: .25px solid #4c4cff;
}
.square02-blue{
  width: 100px;
  height: 100px;
  border: .25px solid #4c4cff;
  position: relative;
  top: -40px;
  left: 60px;
}

.circle01-blue{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #4c4cff;
  position: relative;
  left: 60px;
  top: 40px
}
.circle02-blue{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .25px solid #4c4cff;
}

.border-gray{
  border-bottom: 2px solid #333333;
}

.svg-size{
  width: 78%;
  height: auto;
  fill: none;
}

.svg-gray{
  stroke: #333333;
  stroke-width: .5px;
  fill: none;
}

.fill-gray{
  fill: #333333;
}

.color-blue{
  color: #4c4cff;
}

.block-blue{
  background: #4c4cff;
}

.block-blue p{
  color: #ffffff;
  margin: 1rem;
}

.svg-blue{
  stroke: #4c4cff;
}

.fill-blue{
  fill: #4c4cff;
}

.fill-anim-blue{
  fill: #4c4cff;
  animation-name: fade-fill;
  animation-duration: 1s;
  animation-delay: .1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-fill {
  0% {opacity: 0}
  100% {opacity: 1}
}


@media screen and (min-width: 600px) {
  .size-svg{
    width: 28%;
  }
}

@media screen and (min-width: 1025px) {
  .size-svg{
    width: 58%;
  }
}
