*{
	margin: 0;
	padding: 0;
	color: #333333;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
	overflow: auto;
}

body {
	overflow: hidden;
	font-family: sans-serif;
	line-height: 1.6rem;
	background: #eee;
}

.search-style{
	display: none;
}

.scroll-up{
	opacity: 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(100px);
}

.scroll-up-l{
	opacity: 0;
	visibility: hidden;
	transition: 1s;
	animation-timing-function: ease-out;
	transform: translateX(100px) translateY(100px);
}

.scroll-down{
	opacity: 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(-100px);
}

.scroll-down-r{
	opacity: 0;
	visibility: hidden;
	transition: 1s;
	animation-timing-function: ease-out;
	transform: translateX(-100px) translateY(-100px);
}

.scroll-slide-l{
	opacity: 0;
	visibility: hidden;
	transition: 1s;
	transform: translateX(100px);
}

.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0) translateX(0);
}

header{
	height: 3.5rem;
}

#nav{
	position: fixed;
	top: 0;
	right: 0;
	width: 3.5rem;
	height: 3.5rem;
	background: #333;
	mix-blend-mode: multiply;
	border-bottom-left-radius: 1.2rem;
	z-index: 999;
}
#nav.show{
	mix-blend-mode: normal;
}

.nav_toggle {
	display: block;
	position: relative;
	margin: auto;
	top: 0.875rem;
	width: 1.75rem;
	height: 1.5rem;
}
.nav_toggle i {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
	top: 0;
}
.nav_toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.nav_toggle i:nth-child(3) {
	bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
	opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
	background: #333;
	z-index: 998;
}

.nav.show {
	opacity: 1;
	visibility: visible;
}

nav ul {
	list-style: none;
}

nav ul li{
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	border-bottom: .5px solid #ddd;
}

nav ul li a{
	font-weight: bold;
	font-size: 110%;
	letter-spacing:3px;
	color: #fff;
}

article{
	margin: 0 1rem;
	position: relative;
}

section{
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
	position: relative;
	z-index: 1;
}

h1{
	margin: 2rem;
	letter-spacing: 10px;
	text-align: center;
}

h3{
	margin-top: 1rem;
	margin-bottom: .5rem;
	margin-left: 2rem;
	letter-spacing: 2px;
	text-align: left;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 5px 0;
	font-size: 85%;
	letter-spacing: 2px;
}

.p-center{
	margin: 0 auto;
	width: 80%;
}

p{
	text-align: left;
}

.alfa{
	letter-spacing: 3px;
}

.alfa-h3{
	 letter-spacing: 4px;
}

.letter-small{
	letter-spacing: -1px;
	padding-right: 3px;
}

.p-small{
	letter-spacing: none;
}

li {
	margin-left: 10px;
	text-align: left;
}

ul, ol {
	padding-left: 40px;
	padding-bottom: 10px;
	margin-top: 0;
	text-align: left;
}

#container {
	max-width: 100%;
	margin: auto;
}

.shapes{
	position: relative;
}

.main-image{
	height: 48rem;
}

.contents-table01{
	position: relative;
	top: -40px;
	z-index: -3;
}

.contents-table02{
	width: 70%;
	margin: 0 auto;
	padding-top: 10px;
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 4px 4px 18px rgba(0,0,0,.2);
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
}
.contents-table02 div{
	margin: 1rem;
}

.glass{
	width: 90%;
	overflow: hidden;
	margin: 2rem auto;
	padding-bottom: 1rem;
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 4px 4px 18px rgba(0,0,0,.2);
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
}

svg{
	width: 80%;
	height: auto;
	margin: .5rem auto;
	fill: none;
}

table{
	margin: .5rem auto;
}

audio{
	margin: .5rem auto;
}

table, th, td{
	border: 1px solid #333333;
}

table{
	width: 80%;
	margin: 0 auto;
}

th,td{
	width: 10%;
	margin: .5rem;
}

.next{
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	margin: 0 auto;
	max-width: 600px;
}

.arrow-next{
	position: relative;
	display: inline-block;
	padding-right: 10px;
	color: #333;
	text-decoration: none;
}
.arrow-next:before {
	content: '';
	width: 6px;
	height: 6px;
	border: 0;
	border-top: solid 2px #333;
	border-right: solid 2px #333;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -4px;
	transform: rotate(45deg);
}

.arrow-back {
	position: relative;
	display: inline-block;
	padding-left: 10px;
	color: #333;
	text-decoration: none;
}
.arrow-back:before {
	content: '';
	width: 6px;
	height: 6px;
	border: 0;
	border-top: solid 2px #333;
	border-left: solid 2px #333;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	transform: rotate(-45deg);
}

footer{
	background: #333333;
	padding: .5rem;
	font-size: 75%;
}

.logo{
	text-align: center;
	padding-bottom: 25px;
	border-bottom: 1px solid #000;
}

.logo b{
	font-size: 128%;
	color: #fff;
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #000;
}

.breadcrumb li {
	display: inline-flex;
	list-style: none;
}

.breadcrumb li:after {
	content: '>';
	color: #fff;
	margin: 0 -5px;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a span{
	text-decoration: none;
	color: #fff;
}

footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

footer a{
	display: block;
	padding: 0 10px;
	color: #fff;
}

.twitter-share-button{
	margin-left: 1rem;
}

form{
	width: 80%;
	padding: 1rem;
}

input{
	border: solid 1px #ccc;
	background: #ddd;
	border-radius: 3px;
	padding: 8px;
}

button{
	appearance: none;
	border: 0;
	background: #111;
	border-radius: 3px;
	padding: 10px;
	position: relative;
	top: -1px;
}

.copy{
	border-top: 1px solid #000;
}

footer p{
	padding-top: 1rem;
	text-align: center;
	color: #ffffff;
}

@media screen and (min-width: 600px) {

	nav{
		width: 30%;
		left: 70%;
	}

	h1{
		margin: 2rem;
		font-size: 24px;
		letter-spacing: 8px;
		text-align: center;
	}

	h3{
		margin: 2rem 0 1rem;
		font-size: 23px;
		letter-spacing: 3px;
		text-align: left;
	}

	p, blockquote, ul, ol, dl, li, table, pre {
		margin: 5px 0;
		font-size: 93%;
		letter-spacing: 3px;
	}

	.pc-width-svg{
		width: 80%;
		margin: 0 auto;
	}

	table{
		margin: 1rem auto;
	}

	audio{
		margin: 1rem auto;
	}

}

@media screen and (min-width: 1025px) {

	#container{
		max-width: 1920px;
	}

	h1{
		font-size: 38px;
		letter-spacing: 10px;
		text-align: left;
		padding-left: 20%;
	}

	h3{
		font-size: 24px;
		letter-spacing: 5px;
		padding-left: 10%;
	}
	.alfa-h3{
		letter-spacing: 5px;
	}

	p, blockquote, ul, ol, dl, li, table, pre {
		margin: 5px 0;
		font-size: 95%;
		letter-spacing: 4px;
	}

	.contents-table02{
		max-width: 960px;
		top: -100px;
	}

	table{
		margin: 1rem auto;
	}

	audio{
		margin: 1rem auto;
	}
}
