*{
	margin: 0;
	padding: 0;
	color: #333333;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
	overflow: auto;
}

body {
	overflow: hidden;
	font-family: sans-serif;
	line-height: 1.6rem;
}

.search-style{
	display: none;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
	position: relative;
	z-index: 1;
}

h1{
	margin: 2rem;
	letter-spacing: 10px;
	text-align: center;
}

.scroll-fade{
  opacity: 0;
  transition: all 1s;
}

.scroll-up{
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}

.scroll-up.done, .scroll-fade.done{
  opacity : 1;
  transform : translate(0, 0);
}

.load-up{
  animation: load-up 1s forwards;
}
@keyframes load-up {
  0%{
    opacity:0;
    transform: translateY(100px);
  }
  100%{
    opacity:1;
    transform: translateY(0%);
  }
}

header{
	padding: 1.8rem;
}

h3{
	margin-top: 1rem;
	margin-bottom: .5rem;
	margin-left: 2rem;
	letter-spacing: 2px;
	text-align: left;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 5px 0;
	font-size: 85%;
	letter-spacing: 2px;
}

.p-center{
	margin: 0 auto;
	width: 80%;
}

p{
	text-align: left;
}

.alfa{
	letter-spacing: 3px;
}

.alfa-h3{
	 letter-spacing: 4px;
}

.letter-small{
	letter-spacing: -1px;
	padding-right: 3px;
}

.p-small{
	letter-spacing: none;
}

.types{
	mix-blend-mode: multiply;
	position: absolute;
	z-index: 996;
}
.types h1{
	position: relative;
	top: 350px;
  right: -190px;
  color: #4c4cff;
	transform:rotate(90deg);
	opacity: .6;
	font-size: 70px;
}

li {
	margin-left: 10px;
	text-align: left;
}

ul, ol {
	padding-left: 40px;
	padding-bottom: 10px;
	margin-top: 0;
	text-align: left;
}

#container {
	max-width: 100%;
	margin: auto;
}

article{
	margin: 0 auto;
}

section{
	text-align: center;
}

.shapes{
	height: 0;
	width: 80%;
	position: relative;
}

.main-image{
	height: 48rem;
}

.contents-table01{
	position: relative;
	top: -40px;
	z-index: -3;
}

.contents-table02{
	width: 70%;
	margin: auto;
	padding-top: 10px;
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
}

.glass{
	width: 90%;
	overflow: hidden;
	margin: 3rem auto;
	padding-bottom: 1rem;
  background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
}

svg{
	width: 80%;
	margin: 0 auto 1rem auto;
	fill: none;
}

table{
	margin: 1rem;
}

audio{
	margin: 1rem;
}

table, th, td{
	border: 1px solid #333333;
}

table{
	width: 80%;
	margin: 0 auto;
}

th,td{
	width: 10%;
	margin: .5rem;
}

.next{
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

.arrow-next{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-next:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transform: rotate(45deg);
}


.arrow-back {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-back:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-left: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}


footer{
	background: #333333;
	padding: .5rem;
	font-size: 75%;
	position: relative;
}

.logo{
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}

.logo b{
	font-size: 128%;
	color: #fff;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
	border-bottom: 1px solid #000;
}

.breadcrumb li {
  display: inline-flex;
  list-style: none;
}

.breadcrumb li:after {
  content: '>';
  color: #fff;
	margin: 0 -5px;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a span{
  text-decoration: none;
  color: #fff;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a{
  display: block;
  padding: 0 10px;
  color: #fff;
}

.twitter-share-button{
	margin-left: 1rem;
}

form{
  width: 80%;
	padding: 1rem;
}

input{
  border: solid 1px #ccc;
	background: #ddd;
  border-radius: 3px;
  padding: 8px;
}

button{
  appearance: none;
  border: 0;
  background: #111;
  border-radius: 3px;
  padding: 10px;
	position: relative;
	top: -1px;
}

.copy{
	border-top: 1px solid #000;
}

footer p{
	padding-top: 1rem;
	text-align: center;
	color: #ffffff;
}

@media screen and (min-width: 600px) {

	#footer01 .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  #footer01 .nav a:hover {
    color: #eeeeee;
  }
}

}

@media screen and (min-width: 1025px) {

	#container{
		max-width: 1080px
	}

}
