* {
  margin: 0;
  padding: 0;
  color: #cecece;
  line-height: 1.6rem;
  font-family: sans-serif;
  text-decoration: none
}

.search-style {
  display: none
}

.scroll-up {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(100px)
}

.scroll-up-l {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px) translateY(100px)
}

.scroll-up-r {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-100px) translateY(100px)
}

.scroll-down {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(-100px)
}

.scroll-down-l {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px) translateY(-100px)
}

.scroll-down-r {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-100px) translateY(-100px)
}

.scroll-slide-l {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px)
}

.scroll-slide-r {
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-100px)
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0)
}

::selection {
  background-color: rgba(127, 191, 255, 0.4)
}

html {
  scroll-behavior: smooth;
  overflow: auto
}

body {
  overflow: hidden;
  background: #222
}

header {
  height: 3.5rem;
  position: fixed;
  top: 0;
  z-index: 999
}

header h1 {
  font-size: 120%;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: left;
  margin: 1rem 1.5rem;
  color: #a89869;
  background: linear-gradient(25deg, #a89869, #ffffe6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
  border-bottom-left-radius: 1.2rem;
  z-index: 999;
  transition: 1s ease-in
}

#nav.nav {
  mix-blend-mode: normal;
  background: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none;
  transition: 1s ease-out
}

#nav_toggle {
  display: block;
  position: relative;
  margin: auto;
  top: 0.875rem;
  width: 1.75rem;
  height: 1.5rem
}

#nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a89869;
  position: absolute;
  transition: transform .5s, opacity .5s
}

#nav_toggle i:nth-child(1) {
  top: 0
}

#nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto
}

#nav_toggle i:nth-child(3) {
  bottom: 0
}

#nav_toggle.nav_toggle i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg)
}

#nav_toggle.nav_toggle i:nth-child(2) {
  opacity: 0
}

#nav_toggle.nav_toggle i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg)
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 998
}

#navigation.navigation {
  opacity: 1;
  visibility: visible
}

#navigation form {
  padding: 2rem .5rem
}

.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center
}

.search__input {
  width: 80%;
  height: 1.6rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  background: none;
  font-family: inherit;
  color: #555
}

.search__input::placeholder {
  font-size: 13px;
  color: #555
}

.search__input:focus {
  outline: none
}

.search__icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex
}

nav ul {
  padding-left: 0;
  list-style: none
}

nav ul li {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  border-bottom: .5px solid #ddd;
  text-align: center
}

nav ul li a {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 120%;
  letter-spacing: 3px;
  color: #333
}

main {
  overflow: hidden;
  margin: .5rem;
  padding-top: 3.5rem
}

article {
  margin: 0 auto;
  position: relative
}

section {
  text-align: center
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio {
  position: relative;
  z-index: 1
}

audio{
  display: none;
}

h1, h2, h3, h4, h5, h6, b{
  font-weight: bold;
}

h1 {
  margin: 2rem;
  font-size: 28px;
  letter-spacing: 10px;
  text-align: center
}

h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: 2rem;
  letter-spacing: 1px;
  text-align: left
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 0.05rem;
}

.p-center {
  margin: 0 auto;
  width: 80%
}

p {
  text-align: left
}

span {
  display: inline-block
}

li {
  margin-left: 10px;
  text-align: left
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left
}

#container {
  max-width: 100%;
  margin: auto
}

.shapes {
  mix-blend-mode: multiply;
  position: relative
}

.contents-table {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 10px
}

.contents-table div {
  margin: .5rem
}

.glass {
  overflow: hidden;
  margin: 4rem auto;
  width: 96%;
  padding-bottom: 1rem;
  border-radius: 10px;
  position: relative
}

svg {
  width: 80%;
  height: auto;
  margin: .5rem auto;
  fill: transparent;
  transition: all 1s ease-out
}

path, rect {
  transition: all 1s ease-out
}

table {
  background: transparent;
  width: 80%;
  margin: .5rem auto;
  transition: all 1s ease-out
}

th, td {
  background: transparent;
  width: 10%;
  margin: .5rem;
  border: 1px solid #888;
  transition: all 1s ease-out
}

audio {
  margin: .5rem auto
}

.bottom, .buttom, .button {
  display: flex;
  justify-content: space-around
}

.bottom p, .buttom p, .button p   {
  width: 5rem;
  text-align: center;
  font-size: 85%;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: normal;
  background-color: #eee;
  box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.2), -2px -2px 3px 3px rgba(130, 130, 130, 0.3);
  transition: 1s ease-out;
  border: 1px solid #ddd;
  color: #333
}

.audio_btn {
  color: #333
}

.btn-next {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #aaa;
  border: 1px solid #fff;
  box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.2), -2px -2px 3px 3px rgba(130, 130, 130, 0.3);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: none
}

.btn-next span {
  font-size: 90%;
  font-weight: bold;
  color: #FFF;
  position: relative;
  padding-right: 20px
}

.btn-next span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-top: -5px
}

.next {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 600px
}

.arrow-next {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  color: #cecece;
  text-decoration: none
}

.arrow-next:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 1px #cecece;
  border-right: solid 1px #cecece;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transform: rotate(45deg)
}

.arrow-back {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  color: #333;
  text-decoration: none
}

.arrow-back:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 1px #cecece;
  border-left: solid 1px #cecece;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg)
}

#arrow-next-final {
  content: '';
  width: 4rem
}

.box_btn {
  width: 312px;
  margin: 0 auto;
  display: flex
}

.box_btn a {
  margin: 2px;
  width: 100px;
  height: 100px;
  color: #999;
  line-height: 36px;
  text-align: center;
  background-color: #eee;
  border-radius: 10px;
  border: .5px solid #ddd;
  cursor: pointer
}

.numbering {
  float: right;
  margin: 1rem 1rem 0
}

.numbering p {
  color: #888;
  font-size: 78%;
  letter-spacing: 1px;
  padding: 0 10px;
  border: 1.5px solid #aaa;
  border-radius: 10px
}

footer {
  padding: .5rem;
  font-size: 75%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  position: relative;
  color: #a89869
}

footer .waves {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  min-height: 100px;
  max-height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1
}

footer #gentle-wave {
  transition: none
}

footer .parallax use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite
}

footer .parallax use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #a89869;
  opacity: .3;
  stroke: none
}

footer .parallax use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #fff;
  opacity: .5;
  stroke: none
}

footer .parallax use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #a89869;
  opacity: .7;
  stroke: none
}

footer .parallax use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #fff;
  opacity: .9;
  stroke: none
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0)
  }

  100% {
    transform: translate3d(85px, 0, 0)
  }
}

footer .logo {
  text-align: center;
  border-bottom: 1px solid #ccc
}

footer .logo p {
  padding: 0 0 .5rem
}

footer .logo p b {
  font-size: 128%;
  color: #a89869;
  background: linear-gradient(25deg, #a89869, #ffffe6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

footer .breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc
}

footer .breadcrumb li {
  display: inline-flex;
  list-style: none
}

footer .breadcrumb li:after {
  content: '>';
  margin: 0 -5px
}

footer .breadcrumb li:last-child:after {
  content: ''
}

footer .breadcrumb li a span {
  text-decoration: none
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0
}

footer a {
  display: block;
  padding: 0 10px
}

footer #aboutUs {
  border-top: 1px solid #ccc
}

footer #sns {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid #ccc
}

footer #sns .twitter-share-button {
  margin: 0 1rem
}

footer #sns .line-it-button {
  margin-right: 1rem
}

footer #sns .facebook {
  margin-right: 1rem
}

footer .search {
  width: 80%;
  padding: 1rem
}

footer .search__input {
  color: #cecece
}

footer .search__input::placeholder {
  color: #cecece
}

footer button {
  height: 2rem;
  appearance: none;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  position: relative;
  top: 3px
}

footer .copy {
  border-top: 1px solid #ccc
}

footer p {
  text-align: center;
  color: #222
}

@media screen and (min-width: 600px) {

    .search input {
      width: 40%
    }

    header h1 {
      margin-top: 2rem 3rem
    }

    #navigation form {
      margin: 0 auto
    }

  .contents-table div {
    margin: 2rem
  }

  .contents-table h1 {
    margin: 2rem
  }

  h1 {
    margin: 2rem;
    font-size: 24px;
    letter-spacing: 8px;
    text-align: center
  }

  h3 {
    margin: 2rem 0 1rem;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: left
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 93%;
    letter-spacing: 3px
  }

  .glass {
    width: 90%;
    margin: 4rem auto
  }

  table {
    margin: 1rem auto
  }

  audio {
    margin: 1rem auto
  }

  .triangle {
    width: 100%;
    margin: -2px 0 0
  }

  .twitter-share-button {
    margin: 0 .5rem
  }

  .line-it-button {
    margin-right: .5rem
  }

  .facebook {
    margin-right: .5rem
  }

  form {
    padding-left: .5rem
  }
}

@media screen and (min-width: 1025px) {
  header h1 {
    width: 9rem;
    margin: 2rem 1rem
  }

  #container {
    max-width: 960px
  }

  h1 {
    padding: 6px;
    font-size: 38px;
    letter-spacing: 10px
  }

  h3 {
    font-size: 24px;
    letter-spacing: 5px;
    padding-left: 10%
  }

  .alfa-h3 {
    letter-spacing: 5px
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px
  }

  .contents-table {
    max-width: 960px
  }

  table {
    margin: 1rem auto
  }

  audio {
    margin: 1rem auto
  }

  .flex {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }

  .flex:after {
    content: "";
    display: block;
    width: 42%;
    height: 0
  }

  .width-pc {
    width: 42%;
    padding: 2rem
  }

  .flex-margin {
    margin: auto
  }

  .numbering {
    position: absolute;
    bottom: 25px;
    right: 30px
  }
}
