*{
	margin: 0;
	padding: 0;
	color: #333333;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
	overflow: auto;
}

body {
	overflow: hidden;
}

h1{
	margin: 2rem;
	font-size: 30px;
	letter-spacing: 10px;
	text-align: left;
}

h3{
	margin-top: 3rem;
	margin-bottom: .5rem;
	margin-left: 2rem;
	letter-spacing: 2px;
	text-align: left;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 5px 0;
	font-size: 85%;
	letter-spacing: 2px;
}

.p-center{
	margin: 0 auto;
	width: 80%;
}

p{
	text-align: left;
}

.alfa{
	letter-spacing: 3px;
}

.p-small{
	letter-spacing: none;
}

li {
	margin-left: 10px;
	text-align: left;
}

ul, ol {
	padding-left: 40px;
	padding-bottom: 10px;
	margin-top: 0;
	text-align: left;
}

body {
	font-family: sans-serif;
	line-height: 1.6rem;
}

#container {
	max-width: 100%;
	margin: auto;
}

section{
	text-align: center;
}

.main-image{
	height: 48rem;
}

.contents-table01{
	width: 70%;
	margin: auto;
	padding-top: 10px;
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 30, 40, 135, .4 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.2 );
	box-shadow: 4px 4px 3px rgba(0,0,0,.2);
}

.svg{
	text-align: center;
	margin-bottom: 1rem;
}

table{
	margin: 1rem;
}

audio{
	margin: 1rem;
}

table, th, td{
	border: 1px solid #333333;
}

table{
	width: 80%;
	margin: 0 auto;
}

th,td{
	width: 10%;
	margin: .5rem;
}

footer{
	background: #333333;
	padding: .5rem;
	font-size: 75%;
	position: relative;
}

form{
  padding: 80px 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
}

input{
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 10px;
}

button{
  appearance: none;
  border: 0;
  position: relative;
  top: -1px;
  background: #000;
  border-radius: 3px;
  padding: 10px;
}

#search-buttom01{
  background: #333;
}

footer p{
	text-align: center;
	color: #ffffff;
}

.logo{
  text-align: center;
  padding: 5px;
  border-bottom: .5px solid #000000;
}

.logo b{
	font-size: 128%;
	color: #ffffff;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a{
  display: block;
  padding: 0 10px;
  color: #ffffff;
}

@media screen and (min-width: 600px) {

	#footer01 .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  #footer01 .nav a:hover {
    color: #eeeeee;
  }
}

}

@media screen and (min-width: 1025px) {

	#container{
		max-width: 1080px
	}

}
