@import 'parts/colors';

article{
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

h2{
  text-align: center;
  padding: 2rem 0 2rem;
  font-weight: bold;
  background: linear-gradient(25deg, $gold02, $flash);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-image{
  width: 100%;
  height: auto;
}

.scrolldown1{
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: 997;
}
.scrolldown1 span{
  width: 100px;
  color: $semiWhite;
  font-size: .7rem;
  letter-spacing: .05em;
  position: absolute;
  left: -48px;
  top: -25px;
}
.scrolldown1::after{
  content: "";
  width: 1px;
  height: 30px;
  background: $semiWhite;
  opacity: 0;
  animation: pathmove 2.4s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 50%;
}
@keyframes pathmove{
  0%{
    height: 0;
    top: 0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

p{
  text-align: center;
}

#top1{
  margin: -3.5rem 0 0;
  padding: 3rem 0 4.5rem;

  section{
    height: 50vh;
  }

  #main-image{
    opacity: 0;
    transition: 3.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #main-image.active{
    opacity: 1;
  }

  h1{
    color: $gold02;
    background: linear-gradient(25deg, $gold02, $flash);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition-delay: .2s;
  }
}

#top2{

  section:nth-child(2){transition-delay: .1s;}
  section:nth-child(3){transition-delay: .2s;}

  img{
    width: 50%;
    height: auto;
  }
}

#top3{
  padding: 0 0 3rem;

  div{
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;
    margin: 0 auto;

    article{
      margin: 1rem auto;
      width: 180px;
      height: 180px;
      section{padding: 1rem 0 0;}
    }
    #melody{transition-delay: .2s;}
    #chord-progression{transition-delay: .4s;}
    #drums{transition-delay: .6s;}
  }
}

#basic{
  background-image: url("../images/icons/piano_square_blue.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .btn-next{
    width: 7rem;
    background: linear-gradient(25deg, $blue, $semi-blue);
  }

  &:hover{
    .btn-next{
      background: linear-gradient(-25deg, $gold, $gold02);
    }
  }
}


#melody{
  background-image: url("../images/icons/melody_square_pink.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .btn-next{
    width: 6rem;
    background: linear-gradient(25deg, $pink, $semiPink);
  }

  &:hover{
    .btn-next{
      background: linear-gradient(-25deg, $gold, $gold02);
    }
  }
}

#chord-progression{
  background-image: url("../images/icons/melody_square_green.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .btn-next{
    width: 8rem;
    background: linear-gradient(25deg, $green02, $green);
  }

  &:hover{
    .btn-next{
      background: linear-gradient(-25deg, $gold, $gold02);
    }
  }
}


#drums{
  background-image: url("../images/icons/drums_square_red.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .btn-next{
    background: linear-gradient(25deg, $red, $semiRed);
  }

  &:hover{
    .btn-next{
      background: linear-gradient(-25deg, $gold, $gold02);
    }
  }
}


#box{
   text-align: center;
}

.box_btn{
  width: 312px;
  margin: 0 auto;
  display: flex;
}
.box_btn a{
  margin: 2px;
  width: 100px;
  height: 100px;
  color: #999;
  line-height: 36px;
  text-align: center;
  background-color: #eee;
  border-radius: 10px;
  border: .5px solid #ddd;
  cursor: pointer;
}

#box1_1{
  width: 304px;
}
#box1_1.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, $pink, $semiPink);
  border: .5px solid #333;
}
#box1_1.play{
  animation: flash 1.8s linear infinite;
}

#box2_1, #box2_2{
  width: 152px;
}
#box2_1.active, #box2_2.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, $green02, $green);
  border: .5px solid #333;
}
#box2_1.play, #box2_2.play{
  animation: flash 1.8s linear infinite;
}

#box3_1, #box3_2{
  width: 152px;
}
#box3_1.active, #box3_2.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, $red, $semiRed);
  border: .5px solid #333;
}
#box3_1.play, #box3_2.play{
  animation: flash 1.8s linear infinite;
}

#play01{
  width: 4rem;
  margin: 1rem auto 2rem;
  padding: .2rem 0;
  text-align: center;
  border-radius: 10px;
  color: #333;
  @include button-shadow;
}
#play01.active{
  background: #333;
  font-weight: bold;
  color: $semiWhite;
  border: none;
  @include button-shadow-click;
}

@keyframes flash {
  0% {opacity: 1;}
  50% {opacity: .3;}
  100% {opacity: 1;}
}

.right{
  float: right;
  margin-right: 1rem;
}

@media screen and (min-width: 600px) {
  #top1{
    h1{
      font-size: 50px;
      letter-spacing: 15px;
      padding: 3rem 0;
    }
  }

  #top2{
    div{
      display: flex;

      img{
        width: 65%;
      }
    }
  }
}
@media screen and (min-width: 1025px) {

  h1{
    font-size: 32px;
    letter-spacing: 2px;
  }

  h2{
    font-size: 26px;
    letter-spacing: 3px;
  }

  #top2{
    img{
      width: 80%;
    }
  }

  #top3{
    article{
      width: 200px;
      height: 200px;
    }
  }

  #melody{
    .btn-next{
      width: 7rem;
    }
  }
}
