article{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	position: relative;
}

.top-ribbon01{
	border-left: 80px solid #333;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}
.top-ribbon02{
	border-right: 80px solid #333;
	border-top: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	bottom: 0;
	right: 0;
}

h1{
	letter-spacing: 0;
}

.hello01 h1{
	text-align: center;
	font-size: 24px;
	margin: 2rem 0;
	padding: 0;
}

.hello01 h1 p b{
	position: relative;
	z-index: 996;
}

#main-image{
	display: block;
	width: 200%;
	height: auto;
	position: relative;
	z-index: -1;
}

h2{
	padding: 30px 0;
}

p{
	text-align: center;
}

#piano01{
	width: 200%;
	height: auto;
	margin-top: 2rem;
	stroke: #4c4cff;
}
#piano01 g{
	fill: #4c4cff;
}

#trumpet01{
	width: 200%;
	height: auto;
	margin-top: 2rem;
	stroke: #d7c447;
	position: relative;
	right: 90%;
}
#trumpet01 g{
	fill: #d7c447;
}

.blue-ribbon{
	border-left: 80px solid #4c4cff;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

.gold-ribbon{
	border-left: 80px solid #d7c447;
	border-bottom: 80px solid transparent;
	opacity: .9;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

.square-back-blue{
	width: 80px;
	height: 80px;
	border-radius: 8px;
	background: #4c4cff;
	mix-blend-mode: multiply;
}

.circle-orange{
 	width: 100px;
 	height: 100px;
 	border-radius: 50px;
 	background: #ffbc7a;
 	mix-blend-mode: multiply;
 	opacity: .8;
 }

.square-lgreen{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: #bcff7a;
	mix-blend-mode: multiply;
}

.circle-glay{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #333;
	mix-blend-mode: multiply;
}

.circle-gold{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #d7c447;
	mix-blend-mode: multiply;
}

#shape01{
	position: absolute;
	left: 10%;
	top: 70px;
	z-index: -1;
}

#shape02{
	position: absolute;
	right: -40%;
	top: 30px;
	z-index: 3;
}

#shape03{
	display: none;
}

#shape04{
	position: absolute;
	right: 0;
	bottom: -200px;
	z-index: -1;
}

#shape05{
	position: absolute;
	left: -10%;
	bottom: -50px;
	z-index: -1;
}

#shape06{
	position: absolute;
	right: 10%;
	bottom: -100px;
	z-index: -4;
}

#shape07{
	position: absolute;
	right: -30%;
	border-radius: 10px;
	bottom: 200px;
	opacity: .7;
}



@media screen and (min-width: 600px) {

	.pc-top01{
		height: 700px;
	}

	#main-image{
			width: 150%;
			height: auto;
	}

	.pc-top02{
		width: 90%;
		margin: 3rem auto;
		display: flex;
		justify-content: space-between;
	}
	.pc-top02 article{
		margin: 0;
		width: 45%;
		height: 400px;
	}

	#shape01{
		left: 20%;
		top: 70px;
	}

	#shape02{
		left: 0;
		bottom: -200px;
		z-index: -1;
	}

	#shape03{
		display: block;
		position: absolute;
		left: 10%;
		top: -400px;
	}

	#shape04{
		bottom: 30px;
		z-index: 1;
	}

	#shape05{
		left: 10%;
		bottom: 70px;
		opacity: .6;
	}

	#shape06{
		right: 10%;
		bottom: 100px;
		opacity: .6;
	}

	#shape07{
		border-radius: 10px;
		left: -30%;
		bottom: 0;
		z-index: -1;
	}

}
@media screen and (min-width: 1025px) {

	h1{
		font-size: 32px;
		letter-spacing: 2px;
		margin-bottom: 1rem;
	}

	h2{
		font-size: 26px;
		letter-spacing: 3px;
	}

	p{
		margin: -8px 0 8px ;
	}

	#main-image{
		width: 120%;
		height: auto;
	}

	.pc-top02 article{
		height: 600px;
	}

	#shape01{
		left: 40%;
		top: -20px;
	}

	#shape05{
		left: 10%;
		bottom: 700px;
		opacity: .8;
	}

	#shape06{
		right: 10%;
		bottom: 80px;
		opacity: .6;
	}

	#shape07{
		border-radius: 10px;
		left: -30%;
		bottom: 60px;
		z-index: -1;
	}

}
