article{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  position: relative;
}

.pc-top01{
  overflow: hidden;
  margin: 0;
}

.hello01{
  padding-top: 5rem;
}

.hello01 h1 p b{
  position: relative;
  z-index: 996;
}

#type01{
  overflow: hidden;
  font-size: 70px;
  line-height: 64px;
  color: #6ee66e;
  opacity: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: -30px;
  left: -5%;
  z-index: 10;
  transition: 1s;
  transform: translateY(100%);
}
#type01.active{
  transition-delay: .2s;
  transform: translateY(0) rotate(-15deg);
  opacity: .8;
}

#bg01 {
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.bg01 {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px;
}
.bg01.-visible:before, .bg01.-visible:after {
  transform: translate(0, 0);
}
.bg01:before, .bg01:after {
  transform: translate(100%, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  display: block;
  content: '';
  background: #ff7a7a;
  border-radius: 10px;
  position: absolute;
  width: 18px;
  height: 5px;
  top: 7px;
  left: 0;
}
.bg01:before {
  width: 5px;
  height: 18px;
  top: 0;
  left: 7px;
}

#bg02 {
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -25px;
  right: 10%;
  z-index: -5;
}
#bg02.-visible:before {
  transition-delay: .5s;
  transform: translate(0, 0);
}
#bg02:before {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba( 255, 255, 255, .35 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  border: 1px solid rgba( 255, 255, 255, .2 );
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

#title01{
  display: flex;
  overflow: hidden;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-60%);
  z-index: 5;
}
#title01 span {
  font-weight: normal;
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
#title01.-visible span {
  transform: translate(0, 0);
}
#title01 span:nth-child(2) {
  transition-delay: 0.06s;
}
#title01 span:nth-child(3) {
  transition-delay: 0.12s;
}
#title01 span:nth-child(4) {
  transition-delay: 0.18s;
}
#title01 span:nth-child(5) {
  transition-delay: 0.24s;
}
#title01 span:nth-child(6) {
  transition-delay: 0.30s;
}
#title01 span:nth-child(7) {
  transition-delay: 0.36s;
}
#title01 span:nth-child(8) {
  transition-delay: 0.42s;
}
#title01 span:nth-child(9) {
  transition-delay: 0.48s;
}

#text01{
  transition-delay: .3s;
}

#main-image{
  width: 120%;
  height: auto;
  opacity: 0;
  transform: translate(100px, 100px);
  transition: all .8s;
}
#main-image.active{
  display: block;
  opacity: 1;
  transform: translate(0, 0);
  width: 200%;
}

#bg03 {
  overflow: hidden;
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
  opacity: .6;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.bg03 {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px;
}
.bg03.-visible:before, .bg03.-visible:after {
  transition-delay: .7s;
  transform: translate(0, 0);
}
.bg03:before, .bg03:after {
  transform: translate(100%, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  display: block;
  content: '';
  background: #4c4cff;
  border-radius: 10px;
  position: absolute;
  width: 18px;
  height: 5px;
  top: 7px;
  left: 0;
}
.bg03:before {
  width: 5px;
  height: 18px;
  top: 0;
  left: 7px;
}

#bg04 {
  overflow: hidden;
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
  opacity: .6;
  position: absolute;
  left: 37%;
  bottom: 0;
  z-index: 15;
}
#bg04.-visible:before {
  transition-delay: .7s;
  transform: translate(0, 0);
}
#bg04:before {
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.scrolldown1{
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 997;
}
.scrolldown1 span{
  width: 100px;
  color: #eee;
  font-size: .7rem;
  letter-spacing: .05em;
  position: absolute;
  left: -48px;
  top: -25px;
}
.scrolldown1::after{
  content: "";
  width: 1px;
  height: 30px;
  background: #eee;
  opacity: 0;
  animation: pathmove 2.4s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 50%;
}
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

h2{
  padding: 30px 0;
}

p{
  text-align: center;
}

.pc-top02 article{
  overflow: hidden;
  background: #fff;
}

#composition{
  margin-top: 4rem;
}

#piano01{
  width: 200%;
  height: auto;
  margin-top: 2rem;
  stroke: #4c4cff;
}
#piano01 g path{
  fill: #4c4cff;
}

#trumpet01{
  width: 200%;
  height: auto;
  margin-top: 2rem;
  stroke: #d7c447;
  position: relative;
  right: 90%;
}
#trumpet01 g path, rect{
  fill: #d7c447;
}

.blue-ribbon{
  border-left: 80px solid #4c4cff;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.gold-ribbon{
  border-left: 80px solid #d7c447;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (min-width: 600px) {

  .pc-top01{
    height: 700px;
  }

  #type01{
    font-size: 100px;
    line-height: 90px;
    left: -5%;
  }

  #bg03{
    left: 40%;
  }

  #bg04{
    left: 45%;
  }

  #main-image{
      width: 120%;
      height: auto;
  }
  #main-image.active{
    width: 150%;
  }

  .pc-top02{
    margin: 3rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pc-top02 article{
    margin: 0;
    width: 50%;
    height: 400px;
  }
  .pc-top02:after {
    content: "";
    display: block;
    width: 45%;
    height: 0;
  }
  #composition{
    margin: 0;
  }

}
@media screen and (min-width: 1025px) {

  .hello01{
    padding-top: 8rem;
  }

  h1{
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  h2{
    font-size: 26px;
    letter-spacing: 3px;
  }

  p{
    margin: -8px 0 8px ;
  }

  #bg01{
    right: 20%;
  }

  #bg02{
    right: 25%;
  }

  #type01{
    font-size: 150px;
    line-height: 130px;
    top: -50px;
    left: 5%;
  }

  #title01{
    transform: translateX(-83%);
    left:54%;
  }

  #main-image{
    width: 120%;
    height: auto;
  }
  #main-image.active{
    width: 130%;
  }

  .pc-top02 article{
    height: 600px;
  }

}
