article{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
}

h1{
  letter-spacing: 0;
}

.hello01 h1{
  text-align: center;
  opacity:0;
  margin: 2rem 0;
  animation: hello 1s forwards;
  font-size: 24px;
}
@keyframes hello {
  0%{
    opacity:0;
    transform: translateY(50px);
  }
  100%{
    opacity:1;
    transform: translateY(0%);
  }
}

.hello01 h1 p b{
  position: relative;
  z-index: 996;
}

#main-image{
  width: 200%;
  height: auto;
  z-index: -1;
  animation: main 2s forwards;
}
@keyframes main {
  0%{opacity: 0;}
  100%{opacity: .9;}
}

h2{
  padding: 30px 0;
}

p{
  text-align: center;
}

#piano01{
  width: 200%;
  height: auto;
  margin-top: 2rem;
  stroke: #4c4cff;
}

#piano01 .piano-fill{
  fill: #4c4cff;
}

.square-blue{
  width: 100px;
  height: 100px;
	border-radius: 10px;
  border: .5px solid #4c4cff;
}

.square-back-blue{
  width: 80px;
  height: 80px;
	border-radius: 8px;
  background: #4c4cff;
}

.circle-orange{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .5px solid #ffbc7a;
}

.square-lgreen{
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border-radius: 10px;
  background: #bcff7a;
}

#shape01{
  position: absolute;
  right: 30%;
  top: 70px;
  z-index: -1;
}

#shape02{
  position: absolute;
  left: -50px;
  top: 50px;
  z-index: -1;
}

#shape03{
  position: absolute;
  right: 50%;
  bottom: -40px;
  z-index: 1;
}

#shape04{
  position: absolute;
  right: 10px;
  bottom: -20px;
  z-index: -1;
}
