@import 'parts/colors';

main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main:after {
  content: "";
  display: block;
  width: 50%;
  height: 0;
}

article{
  margin: .5rem auto;
}

.glass{
  height: 120px;
  text-align: center;
  width: 40%;
}

.btn-next{
  margin: 1.5rem auto .5rem;
  box-shadow: none;
}

h2{
  margin: 2rem 0 1rem 0;
}

p{
  text-align: center;
}

.red-ribbon{
  border-left: 80px solid #ff5656;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.orange-ribbon{
  border-left: 80px solid $orange;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

#drums{
  a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 995;
  }

  .btn-next{
    background: $red;
    color: #fff;
  }
}

.drums{
  padding-left: 2rem;
  width: 100%;
  height: auto;
  stroke-miterlimit:10;
  stroke: $red;

  #shell01{
    fill: $red;
  }

  g{
    fill: $background;
  }
}


#strings{
  .btn-next{
    width: 8rem;
    background: $orange;
  }

  svg{
    padding-left: 2rem;
    width: 120%;
    stroke: $orange;;
    g{
      fill: $orange;
    }//g
  }//svg
}

@media screen and (min-width: 600px) {

  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .glass{
    width: 45%;
    height: 300px;
    margin: 1rem auto;
  }
  main:after {
    content: "";
    display: block;
    width: 50%;
    height: 0;
  }

}

@media screen and (min-width: 1025px) {

  .glass{
    width: 32%;
  }
  main:after {
    content: "";
    display: block;
    width: 33%;
    height: 0;
  }

}
