@import 'parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $green 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $green;
}
.color-style b{
  color: $green;
}
.color-style a{
  color: $green;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  top: 50px;
  right: -10%;
  #svg01{
    fill: $green;
    width: 250%;
  }
}

#top002{
  background: $green;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: 0;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

h3{
  padding-left: 3rem;
}

#svg02{
  fill: #000;
  .st0{fill:#16A2C8;}
  .st1{fill:#F98A10;}
}

#audio01{display: none;}
#c01btn02{display: none;}
#c01btn01.click{display: none;}
#c01btn02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $green;
  @include button-shadow-click;
}

.play01{
  animation: play01 1s;
}
@keyframes play01 {
  from{fill: $flash;}
  50%{fill: $flash;}
  to{fill: #000;}
}

#e-01.play01{animation-delay: .2s;}
#g-01.play01{animation-delay: .8s;}
#cchord.play01{animation-delay: 2.2s;}

#svg03{
  fill:#000;
  .st0{fill:$score-c;}
  .st1{fill:$score-g;}
}

#audio02{display: none;}
#chord01btn02{display: none;}
#chord01btn01.click{display: none;}
#chord01btn02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $green;
  @include button-shadow-click;
}

#chord02.play01{animation-delay: .8s;}
#chord03.play01{animation-delay: 1.6s;}

#t-d-sd{
  section{min-height: 300px;}
}

.tdsd-01{display: block;}
.tonic01{display: none;}
.dominant01{display: none;}
.subdominant01{display: none;}

.tdsd-02{display: block;}
.tonic02{display: none;}
.dominant02{display: none;}
.subdominant02{display: none;}

.tdsd-01.click{display: none;}
.tonic01.click{display: block;}
.dominant01.click{display: block;}
.subdominant01.click{display: block;}

.tdsd-02.click{display: none;}
.tonic02.click{display: block;}
.dominant02.click{display: block;}
.subdominant02.click{display: block;}

#svg02{
  width: 100%;
  fill: #000;

  .st0{fill:#1B99D7;}
  .st1{fill:#E99B18;}

  #layer2{opacity: .5}
}

#c{fill: #000;}
#d{fill: #000;}
#e{fill: #000;}
#f{fill: #000;}
#g{fill: #000;}
#a{fill: #000;}
#b{fill: #000;}

#c.click01{fill: $green;}
#d.click01{fill: $blue;}
#e.click01{fill: $green;}
#f.click01{fill: $blue;}
#g.click01{fill: $pink;}
#a.click01{fill: $green;}
#b.click01{fill: $pink;}

#c.click02{fill: #aaa;}
#d.click02{fill: #aaa;}
#e.click02{fill: #aaa;}
#f.click02{fill: #aaa;}
#g.click02{fill: #aaa;}
#a.click02{fill: #aaa;}
#b.click02{fill: #aaa;}

#tdsd{
  p{
    width: 3rem;
  }
}

#t1.click{display: none;}
#t2.click{display: block;}
#t2{
  display: none;
  color: #fff;
  background-color: $green;
  @include button-shadow-click;
}

#d1.click{display: none;}
#d2.click{display: block;}
#d2{
  display: none;
  color: #fff;
  background-color: $pink;
  @include button-shadow-click;
}

#sd1.click{display: none;}
#sd2.click{display: block;}
#sd2{
  display: none;
  color: #fff;
  background-color: $blue;
  @include button-shadow-click;
}


@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {

  #pc01{
    padding-top: 100px;
  }
}

@media screen and (min-width: 1025px) {
  #svg01{
    width: 170%;
  }

  #top002{width: 50%;}
}
