@import 'parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $green 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $green;
}
.color-style b{
  color: $green;
}
.color-style a{
  color: $green;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;
  stroke: $green;
  g{
    fill: $green;
  }
}

#top002{
  background: $green;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -50px;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

h3{
  padding-left: 3rem;
}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {
}
