@import 'parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $green 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $green;
}
.color-style b{
  color: $green;
}
.color-style a{
  color: $green;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  top: 50px;
  right: -10%;
  #svg01{
    fill: $green;
    width: 170%;
  }
}

#top002{
  background: $green;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: 0;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

h3{
  padding-left: 3rem;
}

#svg02{
  fill: #000;
  .st0{fill:#16A2C8;}
  .st1{fill:#F98A10;}
}

#audio01{display: none;}
#c01btn02{display: none;}
#c01btn01.click{display: none;}
#c01btn02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $green;
  @include button-shadow-click;
}

.play01{
  animation: play01 1s;
}
@keyframes play01 {
  from{fill: $flash;}
  50%{fill: $flash;}
  to{fill: #000;}
}

#e-01.play01{animation-delay: .2s;}
#g-01.play01{animation-delay: .8s;}
#cchord.play01{animation-delay: 2.2s;}

#svg03{
  fill:#000;
  .st0{fill:$score-c;}
  .st1{fill:$score-g;}
}

#audio02{display: none;}
#chord01btn02{display: none;}
#chord01btn01.click{display: none;}
#chord01btn02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $green;
  @include button-shadow-click;
}

#chord02.play01{animation-delay: .8s;}
#chord03.play01{animation-delay: 1.6s;}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {

  #pc01{
    padding-top: 100px;
  }
}
