@import 'parts/colors';

.glass{
  height: 400px;
}

h2{
  margin: 2rem 0 1rem 0;
}

p{
  text-align: center;
}

.blue-ribbon{
  border-left: 80px solid $blue;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.pink-ribbon{
  border-left: 80px solid $pink;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

#melody{
  h2{
    a{
      color: $pink;
    }//a
  }//h2

  #piano02{
    padding-top: 2rem;
    stroke: $pink;

    g path{
      fill: $pink;
    }//g path
  }//#piano02
}//#melody

.basic h2 a{
  color: $blue;
}

#piano01{
  padding-top: 2rem;
  stroke: $blue;
}
#piano01 g path{
  fill: $blue;
}

@media screen and (min-width: 600px) {

  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .glass{
    width: 45%;
    margin: 4rem 0;
  }
  main:after {
    content: "";
    display: block;
    width: 45%;
    height: 0;
  }

}

@media screen and (min-width: 1025px) {

  .glass{
    width: 32%;
  }
  main:after {
    content: "";
    display: block;
    width: 32%;
    height: 0;
  }

}
