@import 'parts/colors';

main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main:after {
  content: "";
  display: block;
  width: 50%;
  height: 0;
}


.glass{
  height: 120px;
  text-align: center;
  width: 40%;
  margin: 1rem auto;
}

.btn-next{
  margin: 1.5rem auto .5rem;
  box-shadow: none;
}

h2{
  margin: 2rem 0 1rem 0;
}

p{
  text-align: center;
}

.blue-ribbon{
  border-left: 80px solid $blue;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.pink-ribbon{
  border-left: 80px solid $pink;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.green-ribbon{
  border-left: 80px solid $green;
  border-bottom: 80px solid transparent;
  opacity: .9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

#basic{
  h2 a{
    color: $blue;
  }

  a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 995;
  }

    #piano01{
    width: 120%;
    stroke: $blue;

      g path{
        fill: $blue;
      }
    }//piano01

    .btn-next{
      background: $blue;
    }
}

#melody{
  h2{
    a{
      color: $pink;
    }//a
  }//h2

  a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 995;
  }

  .btn-next{
    background: $pink;
  }

  svg{
    margin-left: 1rem;
    width: 140%;
    .st0, .st1, .st2, .st3, .st4{fill:none;stroke:$pink;stroke-width:0.5;}
    .st5{fill:$pink;stroke:#none;}
  }//svg
}//#melody

#chord-progression{
  .btn-next{
    width: 8rem;
    background: $green;
  }

  a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 995;
  }
  
  svg{
    padding-left: 2rem;
    width: 200%;
    stroke: none;
    fill: $green;
  }//svg
}
@media screen and (min-width: 600px) {

  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .glass{
    width: 45%;
    height: 300px;
    margin: 4rem 0;
  }
  main:after {
    content: "";
    display: block;
    width: 50%;
    height: 0;
  }

}

@media screen and (min-width: 1025px) {

  .glass{
    width: 32%;
  }
  main:after {
    content: "";
    display: block;
    width: 33%;
    height: 0;
  }

}
