@import 'parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $pink 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $pink ;
}
.color-style b{
  color: $pink ;
}
.color-style a{
  color: $pink ;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;

  svg{
    .st0, .st1, .st2, .st3, .st4{fill:none;stroke:$pink;stroke-width:0.5;}
    .st5{fill:$pink;stroke:#none;}
  }//svg
}

#top002{
  background: $pink;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -50px;

  p{
    margin: 1rem;
    color: #fff;
  }//p
}//#top02

h3{
  padding-left: 3rem;
}

#audio01{display: none;}
#candgbuttom01.click{display: none;}
#candgbuttom02{display: none;}
#candgbuttom02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $pink;
  @include button-shadow-click;
}



#svg02{
  .st0{fill:none;stroke:#000000;stroke-width:0.5;}
  .st1{fill:none;stroke:#16A2C8;stroke-width:1;}
  .st2{fill:none;stroke:#000000;stroke-width:0.75;}
  .st3{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#F98A10;stroke-width:1;stroke-miterlimit:10;}
  .st5{fill:#000;stroke:#none;}

  #g{fill:#000;stroke:#none; animation-delay: 4s;}
  #c{fill:#000;stroke:#none;}
}

.play01{
  animation: score01 .5s 3;
}
@keyframes score01 {
  from{fill:000;}
  30%{fill:$flash;}
  to{fill:$flash;}
}

#audio02{display: none;}
#melody01buttom01.click{display: none;}
#melody01buttom02{display: none;}
#melody01buttom02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $pink;
  @include button-shadow-click;
}

#svg03{
  fill: #000;
  stroke: none;
  .st0{fill:#16A2C8;}
  .st1{fill:#F98A10;}
}

.play02{
  animation: play02 .5s;
}
@keyframes play02 {
  from{fill:$flash;}
  to{fill:$flash;}
}
#do02{animation-delay: .3s}
#so01{animation-delay: .6s}
#so02{animation-delay: .9s}
#so03{animation-delay: 1.2s}
#so04{animation-delay: 1.5s}
#do03{animation-delay: 1.8s}



#svg04{
  fill: #000;
  stroke: none;
  .st0{fill:#16A2C8;}
  .st1{fill:#F98A10;}
}

#do12{animation-delay: .3s}
#so11{animation-delay: .6s}
#so12{animation-delay: .9s}
#so13{animation-delay: 1.2s}
#so14{animation-delay: 1.5s}
#do13{animation-delay: 1.8s}


#audio03{display: none;}
#melody02buttom01.click{display: none;}
#melody02buttom02{display: none;}
#melody02buttom02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $pink;
  @include button-shadow-click;
}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {

  #pc01{
    padding-top: 200px;
  }

  #pc02{
    padding-top: 100px;
  }
}
