@import 'parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $pink 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $pink ;
}
.color-style b{
  color: $pink ;
}
.color-style a{
  color: $pink ;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;

  svg{
    .st0, .st1, .st2, .st3, .st4{fill:none;stroke:$pink;stroke-width:0.5;}
    .st5{fill:$pink;stroke:#none;}
  }//svg
}

#top002{
  background: $pink;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -50px;

  p{
    margin: 1rem;
    color: #fff;
  }//p
}//#top02

h3{
  padding-left: 3rem;
}

#audio01{display: none;}
#candgbuttom01.click{display: none;}
#candgbuttom02{display: none;}
#candgbuttom02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: $pink;
  @include button-shadow-click;
}



#svg02{
  .st0{fill:none;stroke:#000000;stroke-width:0.5;}
  .st1{fill:none;stroke:#16A2C8;stroke-width:0.5;}
  .st2{fill:none;stroke:#000000;stroke-width:0.75;}
  .st3{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#F98A10;stroke-width:0.5;stroke-miterlimit:10;}
  .st5{fill:#000;stroke:#none;}

  #g{fill:#000;stroke:#none; animation-delay: 4s;}
  #c{fill:#000;stroke:#none;}
}

.play01{
  animation: score01 .5s forwards 3;
}
@keyframes score01 {
  from{fill:$flash;}
  85%{fill:$flash;}
  to{fill:#000;}
}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {
}
