*{
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6rem;
  font-weight: 300;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
}

:root {
  --primary: #f6f6f6;
  --white: #FFFFFF;
  --greyDark: #333;
}
$shadow: .3rem .3rem .6rem var(--primary), -.2rem -.2rem .5rem var(--white);

::selection{
  background-color: rgba(127,191,255,.4);
  color: #222;
}

html{
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  overflow: hidden;
  background: #f7f7f7;
}

#loading {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) .6s .2s;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loaded {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
#loading h1{
  white-space: nowrap;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 10px;
  color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-68%, -50%);
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-90deg, #ff5656 20%,#ff5656 40%, #6ee66e 40%,#6ee66e 60%, #4c4cff 60%,#4c4cff 80%, #fff 80%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:3s;
}
.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.search-style{
  display: none;
}

.scroll-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(100px);
}
.scroll-up-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(100px);
}
.scroll-up-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(100px);
}
.scroll-down{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(-100px);
}
.scroll-down-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(-100px);
}
.scroll-down-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(-100px);
}
.scroll-slide-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(100px);
}
.scroll-slide-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(-100px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}

@import 'parts/header';

main{
  overflow: hidden;
  padding-top: 3.5rem;
}

article{
  margin: 0 auto;
  position: relative;
}

section{
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  font-weight: normal;
}

h1{
  margin: 2rem;
  font-size: 28px;
  letter-spacing: 10px;
  text-align: center;
}

h3{
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: 2rem;
  letter-spacing: 2px;
  text-align: left;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 2px;
}

.p-center{
  margin: 0 auto;
  width: 80%;
}
p{
  text-align: left;
}

b{
  font-weight: normal;
}

b a{
  font-weight: normal;
}

span{
  display: inline-block;
}

.alfa{
  letter-spacing: 3px;
}
.alfa-h3{
   letter-spacing: 4px;
}

.letter-small{
  letter-spacing: -1px;
  padding-right: 3px;
}

.p-small{
  letter-spacing: none;
}

li {
  margin-left: 10px;
  text-align: left;
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

#container {
  max-width: 100%;
  margin: auto;
}

.shapes{
  mix-blend-mode: multiply;
  position: relative;
}

.contents-table{
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  background: rgba( 255, 255, 255, .7 );
  box-shadow: 4px 4px 18px rgba(0,0,0,.2);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, .2 );
}
.contents-table div{
  margin: .5rem;
}

.glass{
  overflow: hidden;
  margin: 4rem auto;
  width: 96%;
  padding-bottom: 1rem;
  background: rgba( 255, 255, 255, .7);
  box-shadow: 4px 4px 18px rgba(0,0,0,.2);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, .2 );
  position: relative;
}

svg{
  width: 80%;
  height: auto;
  margin: .5rem auto;
  fill: transparent;
  transition: all 1s ease-out;
}
path, rect{
  transition: all 1s ease-out;
}

table{
  background: transparent;
  width: 80%;
  margin: .5rem auto;
  transition: all 1s ease-out;
}

th,td{
  background: transparent;
  width: 10%;
  margin: .5rem;
  border: 1px solid #888;
  transition: all 1s ease-out;
}

audio{
  margin: .5rem auto;
}

.next{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 600px;
}

.arrow-next{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-next:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transform: rotate(45deg);
}

.arrow-back {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-back:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}

#arrow-next-final{
  content: '';
  width: 4rem;
}

#profile{
  animation: profile 5s alternate infinite;
}
@keyframes profile {
  from{
    transform: rotate(-10deg);
  }
  to{
    transform: rotate(10deg);
  }
}

@import 'parts/footer';

@media screen and (min-width: 600px) {

  #loading h1{
    font-size: 23px;
    letter-spacing: 14px;
    transform: translate(-65%, -50%);
  }

  .contents-table div{
    margin: 2rem;
  }
  .contents-table h1{
    margin: 2rem;
  }

  h1{
    margin: 2rem;
    font-size: 24px;
    letter-spacing: 8px;
    text-align: center;
  }

  h3{
    margin: 2rem 0 1rem;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: left;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 93%;
    letter-spacing: 3px;
  }

  .glass{
    width: 90%;
    margin: 4rem auto;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .twitter-share-button{
    margin: 0 .5rem;
  }
  .line-it-button{
    margin-right: .5rem;
  }
  .facebook{
    margin-right: .5rem;
  }

  form{
    padding-left: .5rem;
  }

}

@media screen and (min-width: 1025px) {

  #container{
    max-width: 1920px;
  }

  h1{
    margin: 4rem 0 -2rem;
    font-size: 38px;
    letter-spacing: 10px;
    text-align: left;
    padding-left: 10%;
  }

  h3{
    font-size: 24px;
    letter-spacing: 5px;
    padding-left: 10%;
  }
  .alfa-h3{
    letter-spacing: 5px;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px;
  }

  .contents-table{
    max-width: 960px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .flex{
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex:after {
    content: "";
    display: block;
    width: 42%;
    height: 0;
  }
  .width-pc{
    width: 42%;
    padding: 2rem;
  }
  .flex-margin{
    margin: auto;
  }
}
