
@mixin color{
  color: $gold02;
}

@import '../../css/parts/colors';

h3{
  border-bottom: 1px solid $gold02;
  color: $gold02;
  background: linear-gradient(25deg, $gold02, $flash);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  @include color;
}
.color-style b{
  @include color;
}
.color-style a{
  @include color;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;
  #svg01{
    stroke: $red;
    #shell01{
      fill: $red;
    }
  }//#svg01
}//#top001

#top002{
  background: linear-gradient(25deg, $red, $semiRed);
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
  position: relative;
  top: -50px;
}
#top002 p{
  margin: 1rem;
}
#top002 span{
  color: #fff;
}

.drums{
  width: 96%;
  height: auto;
  stroke: #333;
  stroke-miterlimit:10;
}
.st1{
  fill: #eee;
}
.st3{
  fill: #ff5656;
}
.st4{
  fill: #ccc;
}
.st5{
  fill: #222;
}
.bass-type01{
  stroke: none;
  fill: #eee;
}
.drums-back{
  stroke: #333;
  fill: #eee;
}
.drums-back .st1{
  fill: #333;
}

.hat .st3, .clash .st3, .ride{
  fill: #ffff33;
}
#clash01-l{
  animation: clash01-l 5s 2;
}
@keyframes clash01-l {
  0%{
    transform: scaleY(1.3);
  }
  25%{
    transform: scaleY(1);
  }
}

#clash01-r{
  animation: clash01-r 10s 1;
}
@keyframes clash01-r {
  0%{
    transform: scaleY(1.3);
  }
  12.5%{
    transform: scaleY(1);
  }
}

#bass01{
  animation: bass01 .5s 10;
}
@keyframes bass01 {
  0%{
    transform: scale(1.1) translate(-5%, -5%);
  }
  100%{
    transform: scale(1) translate(0);
  }
}

#snare01{
  animation: snare01 1s 5;
}
@keyframes snare01 {
  0%{
    transform: scaleY(.9) translateY(10%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#hi01-tam{
  animation: hi01-tam 5s 2;
}
@keyframes hi01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  25%{
    transform: scaleY(1) translateY(0);
  }
}

#mid01-tam{
  animation: mid01-tam 10s 1;
}
@keyframes mid01-tam {
  0%{
    transform: scaleY(.9) translateY(5%);
  }
  12.5%{
    transform: scaleY(1) translateY(0);
  }
}

#ride01{
  animation: ride01 .5s 10;
}
@keyframes ride01 {
  0%{
    transform: scaleY(1.05) translateX(-.5%);
  }
  100%{
    transform: scaleY(1) translateX(0);
  }
}

#audio01,#audio02,#audio03{
  display: none;
}

#drums02{
  margin: 0 auto;
  width: 100%;
}

#low02-shell.pop01{fill: #7abcff;}
#mid02-shell.pop01{fill: #7abcff;}
#hi02-shell.pop01{fill: #7abcff;}
#snare02-shell.pop01{fill: #7abcff;}

#low02-shell.jazz01{fill: #ffaf1a;}
#mid02-shell.jazz01{fill: #ffaf1a;}
#hi02-shell.jazz01{fill: #ffaf1a;}
#snare02-shell.jazz01{fill: #ffaf1a;}

#pop01.click{display: none;}
#pop02{display: none;}
#pop02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, #7abcff, $light-blue);
  @include button-shadow-click;
}

#jazz01.click{display: none;}
#jazz02{display: none;}
#jazz02.click{
  display: block;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, #ffaf1a, $flash);
  @include button-shadow-click;
}

#snare02.audio01{
  animation: snare02audio01 12s forwards;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes snare02audio01 {
  0%{transform: scaleY(1) translateY(0);}

  4%{transform: scaleY(1) translateY(0);}
  4.5%{transform: scaleY(.9) translateY(10%);}
  5%{transform: scaleY(1) translateY(0);}

  10.5%{transform: scaleY(1) translateY(0);}
  11%{transform: scaleY(.9) translateY(10%);}
  12%{transform: scaleY(1) translateY(0);}

  17%{transform: scaleY(1) translateY(0);}
  17.5%{transform: scaleY(.9) translateY(10%);}
  18.5%{transform: scaleY(1) translateY(0);}

  23.8%{transform: scaleY(1) translateY(0);}
  24.3%{transform: scaleY(.9) translateY(10%);}
  25.3%{transform: scaleY(1) translateY(0);}

  30.3%{transform: scaleY(1) translateY(0);}
  30.8%{transform: scaleY(.9) translateY(10%);}
  31.8%{transform: scaleY(1) translateY(0);}

  37.1%{transform: scaleY(1) translateY(0);}
  37.6%{transform: scaleY(.9) translateY(10%);}
  38.6%{transform: scaleY(1) translateY(0);}

  43.6%{transform: scaleY(1) translateY(0);}
  44.1%{transform: scaleY(.9) translateY(10%);}
  44.6%{transform: scaleY(1) translateY(0);}

  49.8%{transform: scaleY(1) translateY(0);}
  50.3%{transform: scaleY(.9) translateY(10%);}
  53.3%{transform: scaleY(.9) translateY(10%);}
  53.8%{transform: scaleY(1) translateY(0);}
}

#snare02-shell.audio01{
  animation: snare02-shellaudio01 12s forwards;
}
@keyframes snare02-shellaudio01 {

  0%{fill: #7abcff;}

  4%{fill: #7abcff;}
  4.5%{fill: #ffffe6;}
  5%{fill: #7abcff;}

  10.5%{fill: #7abcff;}
  11%{fill: #ffffe6;}
  12%{fill: #7abcff;}

  17%{fill: #7abcff;}
  17.5%{fill: #ffffe6;}
  18.5%{fill: #7abcff;}

  23.8%{fill: #7abcff;}
  24.3%{fill: #ffffe6;}
  25.3%{fill: #7abcff;}

  30.3%{fill: #7abcff;}
  30.8%{fill: #ffffe6;}
  31.8%{fill: #7abcff;}

  37.1%{fill: #7abcff;}
  37.6%{fill: #ffffe6;}
  38.6%{fill: #7abcff;}

  43.6%{fill: #7abcff;}
  44.1%{fill: #ffffe6;}
  44.6%{fill: #7abcff;}

  49.8%{fill: #7abcff;}
  50.3%{fill: #ffffe6;}
  53.3%{fill: #ffffe6;}
  53.8%{fill: #7abcff;}
}

#bass02.audio01{
  animation: bass02audio01 12s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bass02audio01 {
  0%{transform: scale(1.1)}
  2%{transform: scale(1) translate(0,0);}

  5.8%{transform: scale(1) translate(0,0);}
  6.3%{transform: scale(1.1)}
  8.3%{transform: scale(1) translate(0,0);}

  13.5%{transform: scale(1) translate(0,0);}
  14%{transform: scale(1.1)}
  15%{transform: scale(1) translate(0,0);}

  20%{transform: scale(1) translate(0,0);}
  20.5%{transform: scale(1.1)}
  21.5%{transform: scale(1) translate(0,0);}

  25%{transform: scale(1) translate(0,0);}
  25.5%{transform: scale(1.1)}
  26.5%{transform: scale(1) translate(0,0);}
  27%{transform: scale(1.1)}
  28%{transform: scale(1) translate(0,0);}

  34%{transform: scale(1) translate(0,0);}
  34.5%{transform: scale(1.1)}
  35.5%{transform: scale(1) translate(0,0);}

  40.5%{transform: scale(1) translate(0,0);}
  41%{transform: scale(1.1)}
  42%{transform: scale(1) translate(0,0);}

  47%{transform: scale(1) translate(0,0);}
  47.5%{transform: scale(1.1)}
  48.5%{transform: scale(1) translate(0,0);}
  49%{transform: scale(1) translate(0,0);}
  49.5%{transform: scale(1.1)}
  50.5%{transform: scale(1) translate(0,0);}
}


#bass02-shell.audio01{
  animation:bass02-shellaudio01 12s forwards;
}
@keyframes bass02-shellaudio01 {
  0%{fill: #ffffe6;}
  2%{fill: #222;}

  5.8%{fill: #222;}
  6.3%{fill: #ffffe6;}
  8.3%{fill: #222;}

  13.5%{fill: #222;}
  14%{fill: #ffffe6;}
  15%{fill: #222;}

  20%{fill: #222;}
  20.5%{fill: #ffffe6;}
  21.5%{fill: #222;}

  25%{fill: #222;}
  25.5%{fill: #ffffe6;}
  26.5%{fill: #222;}
  27%{fill: #ffffe6;}
  28%{fill: #222;}

  34%{fill: #222;}
  34.5%{fill: #ffffe6;}
  35.5%{fill: #222;}

  40.5%{fill: #222;}
  41%{fill: #ffffe6;}
  42%{fill: #222;}

  47%{fill: #222;}
  47.5%{fill: #ffffe6;}
  48.5%{fill: #222;}
  49%{fill: #222;}
  49.5%{fill: #ffffe6;}
  50.5%{fill: #222;}
}

#clash02-l.audio01{
  animation:clash02-laudio01 16s forwards;
}
@keyframes clash02-laudio01 {
  0%{
    fill: #ffffe6;
    transform: scaleY(1.4);
  }
  20%{
    fill: #ffff33;
    transform: scaleY(1);
  }

  39.5%{
    fill: #ffff33;
    transform: scaleY(1);
  }
  40%{
    fill: #ffffe6;
    transform: scaleY(1.4);
  }
  60%{
    fill: #ffff33;
    transform: scaleY(1);
  }
}

#hat02-top.audio01{
  animation: hat02-topaudio01 8s forwards;
}
@keyframes hat02-topaudio01 {
  0%{fill: #ffffe6;}
  2%{fill: #ffffe6;}
  80%{fill: #ffffe6;}
}

#bass02.audio02{
  animation: bass02audio02 7s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bass02audio02 {
  0%{transform: scale(1.1)}
  2%{transform: scale(1) translate(0,0);}

  3.5%{transform: scale(1) translate(0,0);}
  4%{transform: scale(1.1)}
  6%{transform: scale(1) translate(0,0);}

  12.5%{transform: scale(1) translate(0,0);}
  13%{transform: scale(1.1)}
  14%{transform: scale(1) translate(0,0);}

  17.5%{transform: scale(1) translate(0,0);}
  18%{transform: scale(1.1)}
  20%{transform: scale(1) translate(0,0);}

  30.5%{transform: scale(1) translate(0,0);}
  31%{transform: scale(1.1)}
  32%{transform: scale(1) translate(0,0);}

  35.5%{transform: scale(1) translate(0,0);}
  36%{transform: scale(1.1)}
  38%{transform: scale(1) translate(0,0);}

  45.5%{transform: scale(1) translate(0,0);}
  46%{transform: scale(1.1)}
  48%{transform: scale(1) translate(0,0);}

  50.5%{transform: scale(1) translate(0,0);}
  51%{transform: scale(1.1)}
  53%{transform: scale(1) translate(0,0);}

  62.5%{transform: scale(1) translate(0,0);}
  63%{transform: scale(1.1)}
  65%{transform: scale(1) translate(0,0);}
}

#bass02-shell.audio02{
  animation: bass02-shellaudio02 7s forwards;
}
@keyframes bass02-shellaudio02 {
  0%{fill: #ffffe6;}
  2%{fill: #222;}

  3.5%{fill: #222;}
  4%{fill: #ffffe6;}
  6%{fill: #222;}

  12.5%{fill: #222;}
  13%{fill: #ffffe6;}
  14%{fill: #222;}

  17.5%{fill: #222;}
  18%{fill: #ffffe6;}
  20%{fill: #222;}

  30.5%{fill: #222;}
  31%{fill: #ffffe6;}
  32%{fill: #222;}

  35.5%{fill: #222;}
  36%{fill: #ffffe6;}
  38%{fill: #222;}

  45.5%{fill: #222;}
  46%{fill: #ffffe6;}
  48%{fill: #222;}

  50.5%{fill: #222;}
  51%{fill: #ffffe6;}
  53%{fill: #222;}

  62.5%{fill: #222;}
  63%{fill: #ffffe6;}
  65%{fill: #222;}
}

#snare02.audio02{
  animation: snare02audio02 7s forwards;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes snare02audio02 {
  11.5%{transform: scale(1) translate(0,0);}
  12%{transform: scaleY(.9) translateY(10%);}
  14%{transform: scale(1) translate(0,0);}

  26.5%{transform: scale(1) translate(0,0);}
  27%{transform: scaleY(.9) translateY(10%);}
  29%{transform: scale(1) translate(0,0);}

  43.5%{transform: scale(1) translate(0,0);}
  44%{transform: scaleY(.9) translateY(10%);}
  46%{transform: scale(1) translate(0,0);}

  58.5%{transform: scale(1) translate(0,0);}
  59%{transform: scaleY(.9) translateY(10%);}
  61%{transform: scale(1) translate(0,0);}
}

#snare02-shell.audio02{
  animation: snare02-shellaudio02 7s forwards;
}
@keyframes snare02-shellaudio02 {
  11.5%{fill: #ffaf1a;}
  12%{fill: #ffffe6;}
  14%{fill: #ffaf1a;}

  26.5%{fill: #ffaf1a;}
  27%{fill: #ffffe6;}
  29%{fill: #ffaf1a;}

  43.5%{fill: #ffaf1a;}
  44%{fill: #ffffe6;}
  46%{fill: #ffaf1a;}

  58.5%{fill: #ffaf1a;}
  59%{fill: #ffffe6;}
  61%{fill: #ffaf1a;}
}

#ride02.audio02{
  animation: ride02audio02 7s forwards;
}
@keyframes ride02audio02 {
  0%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  2%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  3.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  4%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  6%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  6.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  7%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  10%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  12%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  12.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  13%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  15%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  14.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  15%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  17%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  17.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  18%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  24%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  30%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  30.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  31%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  32%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  31.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  32%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  34%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  34.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  35%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  41%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  45%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  45.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  46%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  48%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  48.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  49%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  51%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  51.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  52%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  58%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  62%{fill: #ffff33;transform: scaleY(1) translateX(0);}

  62.5%{fill: #ffff33;transform: scaleY(1) translateX(0);}
  63%{fill: #ffffe6;transform: scaleY(1.05) translateX(-.5%);}
  65%{fill: #ffff33;transform: scaleY(1) translateX(0);}
}

#drums03 .st0{fill:none;stroke:$semiWhite;stroke-width:0.5;}
#drums03 .st1{fill:none;stroke:#000000;stroke-width:0.5;}
#drums03 .st2{fill:#FF5656;stroke:#000000;stroke-width:0.5;}
#drums03 .st3{fill:#CCCCCC;stroke:#000000;stroke-width:0.5;}
#drums03 .st4{fill:#EEEEEE;stroke:#000000;stroke-width:0.5;}
#drums03 .st5{fill:#4D4D4D;stroke:#000000;stroke-width:0.5;}
#drums03 .st6{fill:#222222;;stroke:#000000;stroke-width:0.5;}
#drums03 .st7{fill:#CCCCCC;stroke:#000000;stroke-width:0.5;}
#drums03 .st8{fill:#FFFF33;stroke:#000000;stroke-width:0.5;}
#drums03 .st9{fill:#222222;stroke:#000000;stroke-width:0.5;}
#drums03 .st10{fill:none;stroke:#000000;stroke-width:0.5;}
#drums03 .st11{fill:$gold02;stroke:#000000;stroke-width:0.5;}
#notes01 path,#notes01 polygon {fill: $gold02;}
#drums-notes{opacity: 0;transition: 1s;}

#score02{
  width: 7rem;

  &.click{
    font-weight: bold;
    color: #fff;
    background: linear-gradient(25deg, $red, $semiRed);
    @include button-shadow-click;
  }
}

#drums-notes.click{
  transition: 1s;
  opacity: .9;
}

#double-stroke01 {
  .st0{fill:#FF5656;stroke:#000000;stroke-miterlimit:10;}
  .st1{fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;}
  .st2{fill:#EEEEEE;stroke:#000000;stroke-miterlimit:10;}
  .st3{fill:#FFD79F;stroke:#000000;stroke-miterlimit:10;}
}

#audio04{display: none;}
#doublestroke01{width: 10rem;}
#doublestroke01.click{
  font-weight: bold;
  color: #fff;
  @include button-shadow-click;
  background: linear-gradient(25deg, $red, $semiRed);
}
#doublestroke02{display: none; width: 10rem;}

#stick01.double{
  animation: stick01double 1s backwards;
}
@keyframes stick01double {
  0%{transform: scaleY(1.1)}
  10%{transform: scaleY(1.05)}
  20%{transform: scaleY(1.1)}
  30%{transform: scaleY(1.07)}
  40%{transform: scaleY(1.1)}
  50%{transform: scaleY(1.09)}
  60%{transform: scaleY(1.1)}
  70%{transform: scaleY(1.09)}
  80%{transform: scaleY(1.1)}
  100%{transform: scaleY(1)}
}


#audio05{
  display: none;
}

#beat801buttom,#beat802buttom{width: 8rem;}
#beat801buttom.click{display: none;}
#beat802buttom{display: none;}
#beat802buttom.click{
  display: block;
  font-weight: bold;
  color: #fff;
  @include button-shadow-click;
  background: linear-gradient(25deg, $red, $semiRed);
}

.play01{
  animation: play01 7s backwards;
}
@keyframes play01 {
  1%{fill:$flash;}
  5%{fill:$gold02;}

  22%{fill:$gold02;}
  23%{fill:$flash;}
  28%{fill:$gold02;}

  46%{fill:$gold02;}
  47%{fill:$flash;}
  52%{fill:$gold02;}

  70%{fill:$gold02;}
  71%{fill:$flash;}
  74%{fill:$gold02;}

  100%{fill:$gold02;}
}

#drums04{
  margin: 0 auto;
}

#bass04{
  &.play{
    animation: play02 7s backwards;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes play02 {
    0%{transform: scale(1.1)}
    5%{transform: scale(1)}

    9%{transform: scale(1)}
    10%{transform: scale(1.1)}
    11%{transform: scale(1)}
    12%{transform: scale(1.1)}
    17%{transform: scale(1)}

    22%{transform: scale(1)}
    23%{transform: scale(1.1)}
    28%{transform: scale(1)}

    32%{transform: scale(1)}
    33%{transform: scale(1.1)}
    34%{transform: scale(1)}
    35%{transform: scale(1.1)}
    40%{transform: scale(1)}

    46%{transform: scale(1)}
    47%{transform: scale(1.1)}
    52%{transform: scale(1)}

    56%{transform: scale(1)}
    57%{transform: scale(1.1)}
    58%{transform: scale(1)}
    59%{transform: scale(1.1)}
    64%{transform: scale(1)}

    70%{transform: scale(1)}
    71%{transform: scale(1.1)}
    74%{transform: scale(1)}

    81%{transform: scale(1)}
    82%{transform: scale(1.1)}
    83%{transform: scale(1)}
    84%{transform: scale(1.1)}
    89%{transform: scale(1)}

    100%{transform: scale(1)}
  }
}

#bass04-shell{
  &.play{
    animation: play03 7s backwards;
  }
  @keyframes play03 {
    0%{fill:$flash;}
    5%{fill: #222;}

    9%{fill: #222;}
    10%{fill:$flash;}
    11%{fill: #222;}
    12%{fill:$flash;}
    17%{fill: #222;}

    22%{fill: #222;}
    23%{fill:$flash;}
    28%{fill: #222;}

    32%{fill: #222;}
    33%{fill:$flash;}
    34%{fill: #222;}
    35%{fill:$flash;}
    40%{fill: #222;}

    46%{fill: #222;}
    47%{fill:$flash;}
    52%{fill: #222;}

    56%{fill: #222;}
    57%{fill:$flash;}
    58%{fill: #222;}
    59%{fill:$flash;}
    64%{fill: #222;}

    70%{fill: #222;}
    71%{fill:$flash;}
    74%{fill: #222;}

    81%{fill: #222;}
    82%{fill:$flash;}
    83%{fill: #222;}
    84%{fill:$flash;}
    89%{fill: #222;}

    100%{fill: #222;}
  }
}

#snare04.play{
animation: snare04play 10s forwards;
transform-origin: center;
transform-box: fill-box;
}
@keyframes snare04play {
  4.5%{transform: scale(1) translateY(0);}
  5%{transform: scaleY(.9) translateY(10%);}
  6%{transform: scale(1) translateY(0);}
  12.5%{transform: scale(1) translateY(0);}
  13%{transform: scaleY(.9) translateY(10%);}
  14%{transform: scale(1) translateY(0);}

  20.5%{transform: scale(1) translateY(0);}
  21%{transform: scaleY(.9) translateY(10%);}
  22%{transform: scale(1) translateY(0);}
  28.5%{transform: scale(1) translateY(0);}
  29%{transform: scaleY(.9) translateY(10%);}
  30%{transform: scale(1) translateY(0);}

  36.5%{transform: scale(1) translateY(0);}
  37%{transform: scaleY(.9) translateY(10%);}
  38%{transform: scale(1) translateY(0);}
  44.5%{transform: scale(1) translateY(0);}
  45%{transform: scaleY(.9) translateY(10%);}
  46%{transform: scale(1) translateY(0);}

  52.5%{transform: scale(1) translateY(0);}
  53%{transform: scaleY(.9) translateY(10%);}
  54%{transform: scale(1) translateY(0);}
  60.5%{transform: scale(1) translateY(0);}
  61%{transform: scaleY(.9) translateY(10%);}
  62%{transform: scale(1) translateY(0);}
}

#snare04-shell.play{
animation: snare04playshell 10s forwards;
}
@keyframes snare04playshell {
  4.5%{fill:$red;}
  5%{fill:$flash;}
  6%{fill:$red;}
  12.5%{fill:$red;}
  13%{fill:$flash;}
  14%{fill:$red;}

  20.5%{fill:$red;}
  21%{fill:$flash;}
  22%{fill:$red;}
  28.5%{fill:$red;}
  29%{fill:$flash;}
  30%{fill:$red;}

  36.5%{fill:$red;}
  37%{fill:$flash;}
  38%{fill:$red;}
  44.5%{fill:$red;}
  45%{fill:$flash;}
  46%{fill:$red;}

  52.5%{fill:$red;}
  53%{fill:$flash;}
  54%{fill:$red;}
  60.5%{fill:$red;}
  61%{fill:$flash;}
  62%{fill:$red;}
}

#hat04-top.play{
  animation: hat04-topplay 10s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes hat04-topplay {
  0%{fill:$yellow; transform: translateY(0);}
  1%{fill:$flash; transform: translateY(-10%);}
  2%{fill:$yellow; transform: translateY(0);}
  4.5%{fill:$yellow; transform: translateY(0);}
  5%{fill:$flash; transform: translateY(-10%);}
  6%{fill:$yellow; transform: translateY(0);}
  8.5%{fill:$yellow; transform: translateY(0);}
  9%{fill:$flash; transform: translateY(-10%);}
  12.5%{fill:$yellow; transform: translateY(0);}
  13%{fill:$flash; transform: translateY(-10%);}
  14%{fill:$yellow; transform: translateY(0);}
  16.5%{fill:$yellow; transform: translateY(0);}
  17%{fill:$flash; transform: translateY(-10%);}
  18%{fill:$yellow; transform: translateY(0);}

  20.5%{fill:$yellow; transform: translateY(0);}
  21%{fill:$flash; transform: translateY(-10%);}
  22%{fill:$yellow; transform: translateY(0);}
  24.5%{fill:$yellow; transform: translateY(0);}
  25%{fill:$flash; transform: translateY(-10%);}
  28.5%{fill:$yellow; transform: translateY(0);}
  29%{fill:$flash; transform: translateY(-10%);}
  30%{fill:$yellow; transform: translateY(0);}
  34%{fill:$flash; transform: translateY(-10%);}
  35%{fill:$yellow; transform: translateY(0);}
  36%{fill:$yellow; transform: translateY(0);}

  36.5%{fill:$yellow; transform: translateY(0);}
  37%{fill:$flash; transform: translateY(-10%);}
  38%{fill:$yellow; transform: translateY(0);}
  40.5%{fill:$yellow; transform: translateY(0);}
  41%{fill:$flash; transform: translateY(-10%);}
  42%{fill:$yellow; transform: translateY(0);}
  44.5%{fill:$yellow; transform: translateY(0);}
  45%{fill:$flash; transform: translateY(-10%);}
  46%{fill:$yellow; transform: translateY(0);}
  48.5%{fill:$yellow; transform: translateY(0);}
  49%{fill:$flash; transform: translateY(-10%);}
  50%{fill:$yellow; transform: translateY(0);}

  52.5%{fill:$yellow; transform: translateY(0);}
  53%{fill:$flash; transform: translateY(-10%);}
  54%{fill:$yellow; transform: translateY(0);}
  56.5%{fill:$yellow; transform: translateY(0);}
  57%{fill:$flash; transform: translateY(-10%);}
  60.5%{fill:$yellow; transform: translateY(0);}
  61%{fill:$flash; transform: translateY(-10%);}
  62%{fill:$yellow; transform: translateY(0);}

}

#score01{
    .st0{fill:none;stroke:$semiWhite;stroke-width:0.5;}
    .st4{fill:$gold02;stroke:none;}

    #do02{animation-delay: .8s;}
    #do03{animation-delay: 1s;}
    #ta01{animation-delay: .4s;}
    #ta02{animation-delay: 1.2s;}
    #chi02{animation-delay: .4s;}
    #chi03{animation-delay: .8s;}
    #chi04{animation-delay: 1.2s;}
}

#drums05{margin: 0 auto;}
#audio06{display: none;}

#beat1601buttom,#beat1602buttom{width: 9rem;}
#beat1601buttom.click{display: none;}
#beat1602buttom{display: none;}
#beat1602buttom.click{
  display: block;
  font-weight: bold;
  color: #fff;
  @include button-shadow-click;
  background: linear-gradient(25deg, $red, $semiRed);
}

#snare05.play{
  animation: snare05play 10s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes snare05play {
  5.5%{transform: scale(1) translateY(0);}
  6%{transform: scaleY(.9) translateY(10%);}
  7%{transform: scale(1) translateY(0);}

  17.5%{transform: scale(1) translateY(0);}
  18%{transform: scaleY(.9) translateY(10%);}
  19%{transform: scale(1) translateY(0);}

  29.5%{transform: scale(1) translateY(0);}
  30%{transform: scaleY(.9) translateY(10%);}
  31%{transform: scale(1) translateY(0);}

  41.5%{transform: scale(1) translateY(0);}
  42%{transform: scaleY(.9) translateY(10%);}
  43%{transform: scale(1) translateY(0);}
}

#snare05-shell.play{
  animation: snare05-shellplay 10s forwards;
}

@keyframes snare05-shellplay {
  5.5%{fill: $red;}
  6%{fill: $flash;}
  7%{fill: $red;}

  17.5%{fill: $red;}
  18%{fill: $flash;}
  19%{fill: $red;}

  29.5%{fill: $red;}
  30%{fill: $flash;}
  31%{fill: $red;}

  41.5%{fill: $red;}
  42%{fill: $flash;}
  43%{fill: $red;}
}
#bass05.play{
  animation: bass05play 10s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bass05play {
  0%{transform: scale(1.1)}
  1%{transform: scale(1)}

  3.5%{transform: scale(1)}
  4%{transform: scale(1.1)}
  5%{transform: scale(1)}

  9.5%{transform: scale(1)}
  10%{transform: scale(1.1)}
  11%{transform: scale(1)}

  15.5%{transform: scale(1)}
  16%{transform: scale(1.1)}
  17%{transform: scale(1)}

  24.5%{transform: scale(1)}
  25%{transform: scale(1.1)}
  26%{transform: scale(1)}

  27.5%{transform: scale(1)}
  28%{transform: scale(1.1)}
  29%{transform: scale(1)}

  33.5%{transform: scale(1)}
  34%{transform: scale(1.1)}
  35%{transform: scale(1)}

  39.5%{transform: scale(1)}
  40%{transform: scale(1.1)}
  41%{transform: scale(1)}
}
#bass05-shell.play{
  animation: bass05-shellplay 10s forwards;
}
@keyframes bass05-shellplay {
  0%{fill: $flash;}
  1%{fill: #222;}

  3.5%{fill: #222;}
  4%{fill: $flash;}
  5%{fill: #222;}

  9.5%{fill: #222;}
  10%{fill: $flash;}
  11%{fill: #222;}

  15.5%{fill: #222;}
  16%{fill: $flash;}
  17%{fill: #222;}

  24.5%{fill: #222;}
  25%{fill: $flash;}
  26%{fill: #222;}

  27.5%{fill: #222;}
  28%{fill: $flash;}
  29%{fill: #222;}

  33.5%{fill: #222;}
  34%{fill: $flash;}
  35%{fill: #222;}

  39.5%{fill: #222;}
  40%{fill: $flash;}
  41%{fill: #222;}
}

#hat05-top.play{
  animation: hat05-topplay 10s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes hat05-topplay {
  0%{fill: $flash;}
  4.5%{fill: $flash;}
  5%{fill: $yellow;}
  6%{fill: $flash;}

  17.5%{fill: $flash;}
  18%{fill: $yellow;}
  19%{fill: $flash;}

  29.5%{fill: $flash}
  30%{fill: $yellow;}
  31%{fill: $flash;}

  41.5%{fill: $flash;}
  42%{fill: $yellow;}
  43%{fill: $flash;}
  60%{fill: $flash;}
}

#beat16score{
  overflow-x: scroll;
  margin: 0 2rem;

  svg{
    width: 360%;
    height: auto;

      .st0{fill:none;stroke:#000000;stroke-width:0.5;}
      .st3{fill:#000;stroke:none;}
  }
}


#do13{animation-delay: .4s}
#do12{animation-delay: .8s}
#do11{animation-delay: 1.4s}
#ta11{animation-delay: 1.8s}
#ta12{animation-delay: .6s}
#chi12{animation-delay: .1s}
#chi13{animation-delay: .25s}
#chi14{animation-delay: .45s}
#chi15{animation-delay: .7s}
#chi16{animation-delay: .85s}
#chi24{animation-delay: .95s}

#chi17{animation-delay: 1.25s}
#chi18{animation-delay: 1.4s}
#chi19{animation-delay: 1.45s}
#chi20{animation-delay: 1.55s}

#chi21{animation-delay: 1.95s}
#chi22{animation-delay: 2.05s}
#chi23{animation-delay: 2.15s}

.flash01{
  animation: flash01 10s forwards;
}
@keyframes flash01 {
  0%{fill:$flash;}
  3%{fill:#000;}

  24.5%{fill:#000;}
  25%{fill:$flash;}
  28%{fill:#000;}
}

#try{
  h2{
    text-align: center;
    padding: 0;
    margin: 2rem 0 0;
  }
  p{
    text-align: center;
    margin: 1rem 0 1.5rem;
  }
}

.box_btn{
  width: 312px;
  margin: 0 auto;
  display: flex;
}
.box_btn a{
  margin: 2px;
  width: 100px;
  height: 100px;
  color: #999;
  line-height: 36px;
  text-align: center;
  background-color: #eee;
  border-radius: 10px;
  border: .5px solid #ddd;
  cursor: pointer;
}

#box1_1{width: 308px;}
#box1_1.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, #ffcffa, $semiPink);
}
#box2_1{width: 308px;}
#box2_1.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, #b9e2c2, $flash);
}
#box3_1.active, #box3_2.active, #box3_3.active{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(25deg, $red, $semiRed);
}
#box1_1.play,
#box2_1.play,
#box3_1.play, #box3_2.play, #box3_3.play{
  animation: mbflash 1.8s linear infinite;
}
@keyframes mbflash {
  0% {opacity: 1;}
  50% {opacity: .3;}
  100% {opacity: 1;}
}
#play01{
  width: 4rem;
  margin: 1rem auto 2rem;
  padding: .2rem 0;
  text-align: center;
  border-radius: 10px;
}
#play01.active{
  background: linear-gradient(25deg, #333, $semiBlack2);
  font-weight: bold;
  color: #fff;
  border: none;
  @include button-shadow-click;
}

.enter{
    text-align: center;
}

#svg07{
  width: 100%;
  .st0{fill:#ccc;stroke:#000000;}
  .st1{fill:#fff;stroke:#000000;}
  .st2{fill:#ccc;stroke:#000000;}
  .st3{fill:#ccc;stroke:#000000;}
  .st4{fill:$yellow;stroke:#000000;}
}
#PC-drums path{fill:#000;}
#low10-shell,#mid10-shell,#hi10-shell{fill:$red;}
#snare10-shell{
  fill:Crimson;
  transition: none;
}
#bass10-shell{fill:#333;}
#PC-drums{display: none;}


#bass10.active{
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(1.05);
}
#bass10-shell.active{fill:$flash;}

#snare10.active{
  transform-origin: bottom;
  transform-box: fill-box;
  transform: scaleY(.9) translateY(10%);
}
#snare10-shell.active{fill:$flash;}

#hat10.active{
  transform-origin: bottom;
  transform-box: fill-box;
  transform: scaleY(.9) translateY(10%);
}
#hat10-top.active{fill:$flash;stroke:$flash;}

#ride10.active{
  transform-origin: bottom;
  transform-box: fill-box;
  transform: scaleY(.9) translateY(10%);
  fill:$flash;
  stroke:$flash;
}

#clash10-r,#clash10-l{
  &.active{
    transform-origin: bottom;
    transform-box: fill-box;
    transform: scaleY(.9) translateY(10%);
    fill:$flash;
    stroke:$flash;
  }
}


#low10-tam,#mid10-tam,#hi10-tam{
  &.active{
    transform-origin: bottom;
    transform-box: fill-box;
    transform: scaleY(.9) translateY(10%);
    fill:$flash;
    stroke:$flash;
  }

  #low10-shell,#mid10-shell,#hi10-shell{
    transition: none;
    &.active{
      fill:$flash;
    }
  }
}


.position{
  opacity: .6;
}

#position01{
  stroke: $red;
  position: absolute;
  top: 500px;
  left: 0;
  z-index: -900;
}

#position02{
  stroke: $red;
  position: absolute;
  top: 1300px;
  left: 0;
  z-index: -900;
}

#position03{
  stroke: $red;
  position: absolute;
  top: 2500px;
  left: 0;
  z-index: -900;
}

#position04{
  stroke: $red;
  position: absolute;
  top: 3000px;
  left: 0;
  z-index: -900;
}

@media screen and (min-width: 600px) {

  .drums{
    width: 80%;
    height: auto;
  }

  h1{
    font-size: 34px;
  }

  h3{
    padding-left: 3rem;
  }

}
@media screen and (min-width: 1025px) {

  #top002{
    width: 45%;
    margin: 0 0 250px 4rem;
  }

  .drums{
    width: 76%;
    height: auto;
  }

  section{
    width: 90%;
  }

  h3{
    padding-left: 2rem;
  }

  .bottom p{
    width: 6rem;
  }

  #doublestroke01{
    width: 11rem;
  }

  #drums04{
    width: 100%;
    height: auto;
  }

  #tone{
    section{
      height: 370px;
    }
  }
}
