@import '../../css/parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $pink 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $gold02;
}
.color-style b{
  color: $gold02;
}
.color-style a{
  color: $gold02;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  position: relative;
  right: -10%;

  svg{
    .st0, .st1, .st2, .st3, .st4{fill:none;stroke:$pink;stroke-width:0.5;}
    .st5{fill:$pink;stroke:#none;}
  }//svg
}

#top002{
  background: linear-gradient(25deg, $pink, $semiPink);
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -50px;

  p{
    margin: 1rem;
    color: #fff;
  }//p
}//#top02

h3{
  padding-left: 3rem;
  color: $gold02;
}


@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {
}
