main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

main article {
  margin: 1rem auto;
  width: 180px;
  height: 180px;
  border-radius: 1rem
}

main article section {
  padding: 1rem 0 0
}

main:after {
  content: "";
  display: block;
  width: 50%;
  height: 0
}

h2 {
  margin: 2rem 0 1rem 0
}

p {
  text-align: center
}

#scale {
  background-image: url("../images/icons/piano_square_blue.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#scale:hover .btn-next {
  background: linear-gradient(-25deg, #d7c447, #a89869);
}
#scale .btn-next {
  transition: all 1s;
  background: linear-gradient(25deg, #4c4cff, #7abcff);
}

#interval {
  background-image: url("../images/icons/notes_square_pink.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#interval:hover .btn-next {
  background: linear-gradient(-25deg, #d7c447, #a89869);
}
#interval .btn-next {
  transition: all 1s;
  background: linear-gradient(25deg, #ff67b3, #ffe5ff);
}

#chord-progression {
  background-image: url("../images/icons/melody_square_green.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#chord-progression:hover .btn-next {
  background: linear-gradient(-25deg, #d7c447, #a89869);
}
#chord-progression .btn-next {
  transition: all 1s;
  background: linear-gradient(25deg, #285b00, #66ba24);
}

@media screen and (min-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .glass {
    width: 45%;
    height: 300px;
    margin: 4rem 0
  }

  main:after {
    content: "";
    display: block;
    width: 50%;
    height: 0
  }
}

@media screen and (min-width: 1025px) {
  .glass {
    width: 32%
  }

  main:after {
    content: "";
    display: block;
    width: 33%;
    height: 0
  }
}
