@import '../css/parts/colors';

main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  article{
    margin: 1rem auto;
    width: 180px;
    height: 180px;
    border-radius: 1rem;

    section{
      padding: 1rem 0 0;
    }
  }
}

main:after {
  content: "";
  display: block;
  width: 50%;
  height: 0;
}

h2{
  margin: 2rem 0 1rem 0;
}

p{
  text-align: center;
}

#drums{
  background-image: url("../images/icons/drums_square_red.png");
  background-size: 100%;
  background-repeat: no-repeat;
  &:hover{
    .btn-next{
      background: linear-gradient(-25deg, $gold, $gold02);
    }
  }

  .btn-next{
    background: linear-gradient(25deg, $red, $semiRed);
  }
}

@media screen and (min-width: 600px) {

  main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .glass{
    width: 45%;
    height: 300px;
    margin: 1rem auto;
  }
  main:after {
    content: "";
    display: block;
    width: 50%;
    height: 0;
  }

}

@media screen and (min-width: 1025px) {

  .glass{
    width: 32%;
  }
  main:after {
    content: "";
    display: block;
    width: 33%;
    height: 0;
  }

}
