@mixin button-shadow{ box-shadow: 4px 4px 5px 3px rgba(150,150,150,.2), -6px -6px 5px 3px rgba(255,255,255,.3);}

@mixin button-shadow-click{ box-shadow:inset 3px 3px 7px 3px rgba(150,150,150,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);}

$blue: #4c4cff;
$semi-blue: #7abcff;
$red: #ff5656;
$pink: #ff7abc;
$orange: #ffbc7a;
$gold: #d7c447;
$yellow: #ffff33;
$flash: #ffffe6;
