
header{
  height: 3.5rem;
  position: fixed;
  top: 0;
  z-index: 999;

    h1{
      font-size: 120%;
      font-weight: lighter;
      letter-spacing: 2px;
      text-align: left;
      margin: 1.5rem 2rem;
    }
}

#nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 4px 4px 18px rgba(0,0,0,.1);
  mix-blend-mode: multiply;
  border-bottom-left-radius: 1.2rem;
  z-index: 999;
  transition: 1s ease-in;

    &.nav{
      mix-blend-mode: normal;
      background: transparent;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      box-shadow: none;
      transition: 1s ease-out;
    }

}

#nav_toggle {
  display: block;
  position: relative;
  margin: auto;
  top: 0.875rem;
  width: 1.75rem;
  height: 1.5rem;
}
#nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
#nav_toggle i:nth-child(1) {
  top: 0;
}
#nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
#nav_toggle i:nth-child(3) {
  bottom: 0;
}
#nav_toggle.nav_toggle i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
#nav_toggle.nav_toggle i:nth-child(2) {
  opacity: 0;
}
#nav_toggle.nav_toggle i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  z-index: 998;
}

#navigation{
  &.navigation {
    opacity: 1;
    visibility: visible;
  }

  form{
    padding: 2rem .5rem;
  }
}

.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    width: 80%;
    height: 1.6rem;
    border: 1px solid #aaa;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    background: none;
    font-family: inherit;

    &::placeholder {
      font-size: 13px;
      color: #555;
    }
    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
  }
}

nav ul {
  padding-left: 0;
  list-style: none;

    li{
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      border-bottom: .5px solid #ddd;

        a{
          margin-top: 2rem;
          font-weight: 600;
          font-size: 120%;
          letter-spacing:3px;
          color: #333;
        }
    }
}

@media screen and (min-width: 600px) {

  header h1{
    margin-top: 2rem 3rem;
  }

  nav{
    width: 50%;
    left: 70%;
  }

  #navigation form{
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1025px) {

  header h1{
    width: 9rem;
    margin: 2rem 1rem;
  }

  nav{
    width: 40%;
    left: 70%;
  }
}
