#loading {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) .6s .2s;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loaded {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
#loading h1{
  white-space: nowrap;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 10px;
  color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-68%, -50%);
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-90deg, #ff5656 20%,#ff5656 40%, #6ee66e 40%,#6ee66e 60%, #4c4cff 60%,#4c4cff 80%, #fff 80%);
  bottom:0;
  left:-50%;
  opacity:.6;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:3s;
}
.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.search-style{
  display: none;
}

.scroll-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateY(100px);
}
.scroll-up-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(100px) translateY(100px);
}
.scroll-up-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(-100px) translateY(100px);
}
.scroll-down{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateY(-100px);
}
.scroll-down-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(100px) translateY(-100px);
}
.scroll-down-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(-100px) translateY(-100px);
}
.scroll-slide-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(100px);
}
.scroll-slide-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-timing-function:
    transition-timing-function: ease-in;
  transform: translateX(-100px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}
