@import '../../css/parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $blue 80%);
  position: fixed;
  top: 0;
  z-index: -999;
}

.color-blue{
  color: #4c4cff;
}
.color-blue b{
  color: #4c4cff;
}
.color-blue a{
  color: #4c4cff;
}

.glass{
  margin: 2rem auto;
}

svg{
  stroke: #4c4cff;
}
svg g path{
  fill: #4c4cff;
}

#basic001{
  text-align: right;
  position: relative;
  right: 0;
}

#basic002{
  background: #4c4cff;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
  position: relative;
  top: -50px;
}
#basic002 p{
  margin: 1rem;
}
#basic002 span{
  color: #fff;
}

#audio01{display: none;}
#audio01buttom.active{
  background: $blue;
  color: #fff;
  font-weight: bold;
}

.show01{
  animation: basic-01 1s forwards;
}
.show02{
  animation: basic-01 1s forwards .5s;
}
.show03{
  animation: basic-01 1s forwards 1s;
}
.show04{
  animation: basic-01 1s forwards 1.5s;
}
.show05{
  animation: basic-01 1s forwards 2s;
}
.show06{
  animation: basic-01 1s forwards 2.5s;
}
.show07{
  animation: basic-01 1s forwards 3s;
}
.show08{
  animation: basic-01 1s forwards 3.5s;
}
@keyframes basic-01 {
  0%{
    fill: #ffff7f;
    background: #ffff7f;
    animation-timing-function: ease-in;
  }
  50%{
    fill: #ffff7f;
    background: #ffff7f;
    animation-timing-function: ease-out;
  }
  100%{
    fill: transparent;
    background: transparent;
  }
}

.whole-tone{
  background: linear-gradient(transparent 0%, transparent 70%,#bc7aff 70%, #bc7aff 80%,transparent 80%);
  font-weight: bold;
  display: inline-block;
}
#whole.whole-bottom, #whole02.whole-bottom{
  color: #fff;
  font-weight: bold;
  background-color: $purple;
  @include button-shadow-click;
}
.whole-click{
  transition: all 1s ease-in;
  background: $purple;
  color: #fff;
  font-weight: bold;
}
.whole-fill{
  transition: all 1s ease-in;
  stroke: rgba(33, 33, 33, .3);
  fill: $purple;
}
.whole-fill02{
  transition: all 1s ease-in;
  stroke: rgba(33, 33, 33, .3);
  fill: #444;
}

.semi-tone{
  background: linear-gradient(transparent 0%,transparent 70%, #7abcff 70%, #7abcff 80%,transparent 80%);
  font-weight: bold;
  display: inline-block;
}
#semi.semi-bottom, #semi02.semi-bottom{
  color: #fff;
  font-weight: bold;
  background-color: #7abcff;
  @include button-shadow-click;
}
.semi-click{
  transition: all 1s ease-in;
  background: #7abcff;
  color: #fff;
  font-weight: bold;
}
.semi-fill{
  transition: all 1s ease-in;
  stroke: rgba(33, 33, 33, .3);
  fill: #7abcff;
}

.whole-semi{
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.whole-semi p{
  font-size: 85%;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: normal;
  background-color: #eee;
  @include button-shadow;
  transition: 1s ease-out;
}

#tone-table{
  width: 70%;
}

#audio02{display: none;}
#audio02buttom.active{
  background: $blue;
  color: #fff;
  font-weight: bold;
}

.show02-01{
  animation: basic-02 1.5s forwards;
}
@keyframes basic-02 {
  0%{
    fill: #ffff7f;
    animation-timing-function: ease-in;
  }
  50%{
    fill: #ffff7f;
    animation-timing-function: ease-out;
  }
  100%{
    fill: transparent;
  }
}

.show02-02{
  animation: basic-03 1.5s forwards;
}
@keyframes basic-03 {
  0%{
    fill: #ffff7f;
    animation-timing-function: ease-in;
  }
  50%{
    fill: #ffff7f;
    animation-timing-function: ease-out;
  }
  100%{
    fill: #4c4cff;
  }
}
.show02-03{
  animation: basic-04 1.5s forwards;
}
@keyframes basic-04 {
  0%{
    background: #ffff7f;
    animation-timing-function: ease-in;
  }
  50%{
    background: #ffff7f;
    animation-timing-function: ease-out;
  }
  100%{
    background: transparent;
  }
}

#audio03{display: none;}
#audio03buttom.active{
  background: $blue;
  color: #fff;
  font-weight: bold;
}

.show03-01{
  animation: show-03-01 1.5s forwards;
}
@keyframes show-03-01 {
  0%{
    fill: $purple;
    animation-timing-function: ease-in;
  }
  50%{
    fill: $purple;
    animation-timing-function: ease-out;
  }
  100%{
    fill: transparent;
  }
}
.show03-02{
  animation: show03-02 1.5s forwards;
}
@keyframes show03-02 {
  0%{
    fill: $purple;
    animation-timing-function: ease-in;
  }
  50%{
    fill: $purple;
    animation-timing-function: ease-out;
  }
  100%{
    fill: $blue;
  }
}

#audio04{display: none;}
#audio04buttom.active{
  background: $blue;
  color: #fff;
  font-weight: bold;
}

.show04-01{
  animation: show-03-03 1.5s forwards;
}
@keyframes show-03-03 {
  0%{
    fill: $semi-blue;
    animation-timing-function: ease-in;
  }
  50%{
    fill: $semi-blue;
    animation-timing-function: ease-out;
  }
  100%{
    fill: transparent;
  }
}
.show04-02{
  animation: show03-04 1.5s forwards;
}
@keyframes show03-04 {
  0%{
    fill: $semi-blue;
    animation-timing-function: ease-in;
  }
  50%{
    fill: $semi-blue;
    animation-timing-function: ease-out;
  }
  100%{
    fill: $blue;
  }
}

#audio05{display: none;}
#audio05buttom.active{
  background: $blue;
  color: #fff;
  font-weight: bold;
}


.show05-01{
  animation: show-05-01 1.5s forwards;
}
@keyframes show-05-01 {
  0%{
    fill: transparent;
    animation-timing-function: ease-in;
  }
  50%{
    fill: transparent;
    animation-timing-function: ease-out;
  }
  100%{
    fill: transparent;
  }
}
.show05-02{
  animation: show05-02 1.5s forwards;
}
@keyframes show05-02 {
  0%{
    fill: $blue;
    animation-timing-function: ease-in;
  }
  50%{
    fill: $blue;
    animation-timing-function: ease-out;
  }
  100%{
    fill: $blue;
  }
}

#gb-01{animation-delay: .5s}
#g-01{animation-delay: .5s}
#ab-01{animation-delay: 1s}
#a-01{animation-delay: 1s}
#bb-01{animation-delay: 1.5s}
#b-01{animation-delay: 2s}
#c-02{animation-delay: 2s}
#db-02{animation-delay: 2.5s}
#d-02{animation-delay: 2.5s}
#eb-02{animation-delay: 3s}
#e-02{animation-delay: 3s}
#f-02{animation-delay: 3.5s}

#d-03{animation-delay: .5s}
#eb-03{animation-delay: .5s}
#e-03{animation-delay: 1s}
#f-03{animation-delay: 1s}
#gb-03{animation-delay: 1.5s}
#g-03{animation-delay: 2s}
#ab-03{animation-delay: 2s}
#a-03{animation-delay: 2.5s}
#bb-03{animation-delay: 2.5s}
#b-03{animation-delay: 3s}
#c-04{animation-delay: 3s}
#db-04{animation-delay: 3.5s}

#b-05{animation-delay: .5s}
#c-06{animation-delay: 1s}
#d-06{animation-delay: 1.5s}
#e-06{animation-delay: 2s}
#f-06{animation-delay: 2.5s}
#g-06{animation-delay: 3s}
#a-06{animation-delay: 3.5s}

.maj-min{
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maj-min p{
  font-size: 85%;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: normal;
  background-color: #eee;
  @include button-shadow;
  transition: 1s ease-out;
}

#maj01.active{
  font-weight: bold;
  color: #fff;
  background: #4c4cff;
  @include button-shadow-click;
}

#min01.active{
  font-weight: bold;
  color: #fff;
  background: #7abcff;
  @include button-shadow-click;
}

.maj.active{
  font-weight: bold;
  color: #fff;
  background: #4c4cff;
}
.min.active02{
  font-weight: bold;
  color: #fff;
  background: #7abcff;
}

.square01{
  stroke: #4c4cff;
  opacity: .6;
}

.plus01{
  stroke: #4c4cff;
  opacity: .6;
}

#position01{
  stroke: #4c4cff;
  position: absolute;
  top: 500px;
  left: 0;
  z-index: -900;
}

#position02{
  stroke: #4c4cff;
  position: absolute;
  top: 1300px;
  left: 0;
  z-index: -900;
}

#position03{
  stroke: #4c4cff;
  position: absolute;
  top: 2000px;
  left: 0;
  z-index: -900;
}

#position04{
  stroke: #4c4cff;
  position: absolute;
  top: 3000px;
  left: 0;
  z-index: -900;
}

#position05{
  stroke: #4c4cff;
  position: absolute;
  top: 5000px;
  right: 0;
  z-index: -900;
}

@media screen and (min-width: 600px) {

  h1{
    font-size: 34px;
  }

  .glass{
    margin: 4rem auto;
  }

  #basic001{
    width: 90%;
    position: absolute;
    top: 50px;
    right: 0;
  }

  #basic002{
    width: 50%;
    margin-top: 300px;
  }

  h3{
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1025px) {

  section{
    width: 90%;
  }

  h3{
    padding-left: 2rem;
  }

  #basic001{
    margin-right: 15%;
    width: 60%;
  }

  #basic002{
    width: 45%;
    position: relative;
    top: 170px;
    left: 70px;
    margin: 0 0 250px 4rem;
  }

  #position01,#position04,#position05{
    width: 50%;
    height: auto;
  }

  #position02{
    width: 30%;
    height: auto;
    left: 40%;
  }

  #position03{
    width: 30%;
    height: auto;
  }

  #pc01{
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  #pc02{
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  #pc03{
    margin-top: 30px;
  }

  #pc04{
    position: absolute;
    bottom: 50px;
    right: 5%;
  }

  #pc05{
    margin-top: 350px;
  }

}
