article {
  margin: 0;
  padding: 0;
  position: relative
}

.color-blue, .color-blue b, .color-blue a {
  background: linear-gradient(25deg, #a89869, #ffffe6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}


.contents-table {
  margin: 50px auto 100px
}

#top002 {
  background: linear-gradient(25deg, #ff67b3, #ffe5ff);
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -50px
}

#top002 p {
  margin: 1rem;
  color: #fff
}
