footer{
  padding: .5rem;
  font-size: 75%;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  position: relative;
  color: $gold02;

  .waves {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    min-height: 100px;
    max-height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  #gentle-wave{
    transition: none;
  }
  .parallax use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: $gold02;
    opacity: .3;
    stroke: none;
  }
  .parallax use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #fff;
    opacity: .5;
    stroke: none;
  }
  .parallax use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: $gold02;
    opacity: .7;
    stroke: none;
  }
  .parallax use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #fff;
    opacity: .9;
    stroke: none;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% {
      transform: translate3d(85px,0,0);
    }
  }

  .logo{
    text-align: center;
    border-bottom: 1px solid #ccc;

    p{
      padding: 0 0 .5rem;

      b{
        font-size: 128%;
        color: $gold02;
      }
    }
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;

    li {
      display: inline-flex;
      list-style: none;

      &:after {
        content: '>';
        margin: 0 -5px;
      }
      &:last-child:after {
        content: '';
      }
      a span{
        text-decoration: none;
      }
    }//li
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a{
    display: block;
    padding: 0 10px;
  }

  #aboutUs{
    border-top: 1px solid #ccc;
  }

  #sns{
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid #ccc;

      .twitter-share-button{
        margin: 0 1rem;
      }
      .line-it-button{
        margin-right: 1rem;
      }
      .facebook{
        margin-right: 1rem;
      }
  }


  .search{
    width: 80%;
    padding: 1rem;

    &__input {
      color: $semiWhite;

      &::placeholder {
        color: $semiWhite;
      }
    }
  }



  button{
    height: 2rem;
    appearance: none;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    position: relative;
    top: 3px;
  }

  .copy{
    border-top: 1px solid #ccc;
  }

  p{
    text-align: center;
    color: $semiBlack;
  }

}
