@import '../../scss/parts/colors';

#background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, transparent 80%, $orange 80%);
  position: fixed;
  top: 0;
  z-index: -9999;
}

article{
  margin: 0;
  padding: 0;
  position: relative;
}

.color-style{
  color: $orange;
}
.color-style b{
  color: $orange;
}
.color-style a{
  color: $orange;
}

.contents-table{
  margin: 50px auto 100px;
}

#top001{
  text-align: right;
  width: 70%;
  height: auto;
  transform: rotate(30deg);
  stroke: $orange;
  fill:none;
  stroke-width:5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  position: relative;
  right: -30%;
  top: -100px;
}

#top002{
  background: $orange;
  margin-left: 1rem;
  padding: .5rem 0 .5rem 0;
  width: 70%;
  border-radius: 10px;
  position: relative;
  top: -150px;
}
#top002 p{
  margin: 1rem;
  color: #fff;
}
#top002 span{
  color: #fff;
}

h3{
  padding-left: 3rem;
}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1025px) {
}
